html{
    height: 100%;
}
body{
    background-color: #000000;
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: 100%;
    top: 0px;
    color: #FFCC00;
    font-family: verdana,helvetica,arial,sans-serif;    
}

a:active, a:focus, a:hover{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    background-color: transparent;    
}
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content{
    /*height: 100%;*/  
    /*min-height: 100%;*/
    /*padding-bottom: 15%;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 14%;
    overflow-y: scroll;
}

.tabs, .sub-content{
    display:none;    
    height: 99%;
    padding: 0;
}

.tabs:not(.has-child){
    padding-bottom: 15%;
}

.ui-tabs.ui-tabs-vertical {
    /*padding: 0;*/    
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    /*float: left;*/
    position: absolute;
    width: 25%;
    background: #5A2D11;
    /*border-radius: 4px 0 0 4px;*/
    /*border-right: 1px solid gray;*/
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;    
    margin: 12px 15px 0px 15px;    
    border-width: 1px 0 1px 1px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
    height: 45px;
    background-color: #8C3F11;
    font-weight: bold;
    font-size: 50%;
    line-height: 45px;
    text-align: center;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:hover {
    color: #5F3506;
    font-weight: bold;
    font-size: 50%;
    background-image: -webkit-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -moz-linear-gradient(top, #FFCC00,#FF9900); 
    background-image: -ms-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -o-linear-gradient(top, #FFCC00,#FF9900); 
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    /*padding: 0.6em 1em;*/
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

#menu{
    position: absolute;
    bottom: 0px;  
    right: 0px;
    left: 0px;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    white-space: nowrap;
    background-color: #2F1506;
    height: 14%;    
    border-top: 1px solid #8C3F11;   
    z-index: 999;
}
#menu ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#menu .grandien-top{
    width: 100%;
    height: 5px;    
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0)); 
}

#menu li{
    display: inline-block;
    color: #FFCC00;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
    vertical-align: middle;
    height: 100%;    
    overflow: hidden;
    position: relative;
    overflow: hidden;  
    float: left;
}

#menu li>div{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 5px;       
    display: inline-block;
    background-image: -webkit-linear-gradient(top, rgba(155,63,2,0),rgba(155,63,2,1));
    background-image: -moz-linear-gradient(top, rgba(155,63,2,0),rgba(155,63,2,1)); 
    background-image: -ms-linear-gradient(top, rgba(155,63,2,0),rgba(155,63,2,1));
    background-image: -o-linear-gradient(top, rgba(155,63,2,0),rgba(155,63,2,1)); 
}

#menu li a{
    width: 100%;
    height: 100%;
    display: table;    
}

.active, .sub-active{
    display: block;
}

.wrapper{
    padding-left: 25%;
    width: 75%;
    display: inline-block;
    overflow-y: scroll;
    height: 100%;
}

.product-item{
    display: inline-block;    
    margin-top: 15px;
    text-align: center;
    margin-left: 2.5%;
    max-height: 165px;
    max-width: 65px;
    vertical-align: top;
    padding: 0px 4px;
    /*float: left;*/
}

.product-image{   
    width: 65px;
    height: 65px;
    line-height: 59px;
    text-align: center;
    display: block;   
    background: url(images/bg.png) no-repeat center center;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
}

.product-image img{
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.product-image span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.product-name{
    padding-top: 5px;
    font-size: 50%;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.product-item a{
    display: block;
    vertical-align: middle;
    color: #FFFFFF;    
    font-size: 18px;
    text-decoration: none;
    max-width: 100%;
}

.product-chip{
    color:#00CC00;
    padding-top: 5px;
    font-size: 60%;
    display: inline-block;
}

.product-chip span{
    background: url(images/icon_chip.png) no-repeat center center;    
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-left: 5px;
}

.product-gold{
    color:#FFCC00;
    padding-top: 5px;
    vertical-align: top;
    font-size: 50%;
    display: inline-block;
}

.product-gold span{
    background: url(images/icon_gold.png) no-repeat center center;    
    width: 9px;
    height: 8px;
    display: inline-block;
    padding-left: 5px;
}

.menu-name{
    display: table-cell;
    vertical-align: middle;
}

.menu-active{
    background-image: -webkit-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -moz-linear-gradient(top, #FFCC00,#FF9900); 
    background-image: -ms-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -o-linear-gradient(top, #FFCC00,#FF9900); 
    color: #5F3607 !important;
}

.tab-active{
    background-image: -webkit-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -moz-linear-gradient(top, #FFCC00,#FF9900); 
    background-image: -ms-linear-gradient(top, #FFCC00,#FF9900);
    background-image: -o-linear-gradient(top, #FFCC00,#FF9900); 
    color: #5F3607 !important;
}

#popup{
    width: 60%;
/*    top: 3% !important;   
    vertical-align: middle !important;
    position: relative !important;*/
}

.popup-img{
    border: 1px solid #000000;
/*    width: 30%;
    height: 140px;*/
    display: inline-block;
    text-align: center;
    width: 65px;
    height: 65px;
}

.popup-img>span{
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}

.popup-img>img{
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;    
}

.popup-column-right{
    width: 65%;
    margin-left: 10px;    
    display: inline-block;
    vertical-align: top;
    color: #000000;
}

.popup-product-name{    
    font-weight: bold;
    font-size: 60%;
}

.popup-product-description{
    font-size: 60%px;
}

.popup-text{
    color: #FF0000;
    font-size: 60%;
    padding-top: 10px;
    font-weight: bold;
}
.popup-button{
    text-align: center;
    margin-top: 40px;
}
.popup-button span{
    background-color: #481F05;
    border-radius: 4px;    
    padding: 12px 10px;  
    font-size: 60%;
}

.popup-button span>a{
    color: #FFCC00;
    font-weight: bold; 
    text-decoration: none;
}

#checkout{    
    background-color: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 14%;
    overflow-y: scroll;
    /*padding-bottom: 17%;*/
}

#checkout .back-home>span{
    background-image: url('images/back_icon.png');    
    width: 20px;
    height: 24px;
    display: inline-block;
}

#checkout .back-home{
    background-color: #DED5CF;
    padding: 12px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;    
}

#checkout form{
    margin-top: 5px;
}

#checkout .form-left{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#checkout .form-right{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#checkout_product_name{
    color: #000000;
    font-weight: bold;  
    margin-left: 5px;
}

#checkout_product_price{
    color: #FF0000;
    font-weight: bold;
    margin-left: 10px;
}

.form-left>div{
    color: #666666;
}

.form-right>div{
    color: #666666;
}

#checkout input{
    background-color: #E9E9E9;
    border-radius: 4px;
    padding: 9px;
    color: #333333;
    width: 90%;
    margin-top: 15px;    
}

#checkout textarea{
    width: 90%;
    padding: 9px;
    background-color: #E9E9E9;
    margin-top: 15px;
}

#checkout .total{
    margin-top: 10px;
}

#checkout .total>span{
    color: #FF0000;
}

.form-button{
    text-align: right;
    margin-top: 40px;
}

.form-button span{
    background-color: #481F05;
    border-radius: 4px;    
    padding: 12px 10px;    
}

.form-button span>a{
    color: #FFCC00;
    font-weight: bold; 
    text-decoration: none;
}

.over-popup{
    position: fixed;
    top: 0px;
    z-index: 9999;
    opacity: 1;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.over-popup>div.a-popup{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup-content{
    text-align: left;
}

