.body{
    /*background: url("images/bg.jpg") repeat;*/
    margin: 0px auto;
    background: #120718;
}

.inner-body{
    /*background: url("images/bgrepeat.png") repeat;*/
}

.body-play{
    background-color: rgba(0,0,0);   
}

.background-eclip{
    position: fixed;    
    left:0;
    right:0;    
    min-width: 1000px;  
    z-index: -1;
    top: 0;
    bottom: 0;
}

.background-eclip img{      
    margin: 0 auto;
    display: block;
    width: 100%;   
    height: 100%;
}

.background-eclip-play{
    position: absolute;    
    left:0;
    right:0;           
    top: 0;
    bottom: 0;
}

div#popup-bg {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	background:#000;
	display:none;
}
div#popup {
	width:680px;
	height:480px;
	border:solid 4px #302633;
	z-index:999;
	display:none;
	background:#161317;
}
div#popup-header {
	position:relative;
	float:left;
	width:670px;
	line-height:30px;
	font-size:20px;
        background: #161317;
        border-bottom: 1px #3D363F solid;
	color:#FFFFFF;
	cursor:move;
        padding-left: 10px;
}
span#popup-close {
	cursor:pointer;
	color:#FFF;
	font-size:12px;
	position:absolute;
	top:-2px;
	right:10px;
	z-index:9999;
}
div#popup-content {
	width:670px;
        background: #161317;
	float:left;
	padding:5px;
}

.background-eclip-play img{      
    margin: 0 auto;
    display: block;
    width: 100%;   
    height: 100%;
}

.main{
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}
.top{
    position: relative;
}



.logo{    
    display: inline-block;
}

.logo a{
    height: 120px;
    width: 320px;    
    display: inline-block;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url("images/Logo-dautri.png"), url("images/backgroundball.png") ;
}

.logo-play{    
    display: inline-block;
}

.logo-play a{
    height: 36px;
    width: 113px;
    background-position: -320px 0px;
    display: inline-block;   
    background-repeat: no-repeat;
    background-image: url("images/homeimages.png");
}

.top-menu{    
    display: inline-block;  
    width: 100%;
	line-height: 50px;
}

.top-menu ul li{    
    vertical-align: top;
    display: inline-block;             
    text-align: center;
    position: relative;
    width: 14%;
    color: #ffffff;
}

.top-menu ul li:hover{
  background-color: #910097;
  border-bottom: 6px #FF9900 solid;
}

.actived{
   background-color: #910097;
  border-bottom: 6px #FF9900 solid;
}

.allform {
  float: left;
}

img.img-dn {
  float: right;
}

.form-dn {
  float: left;
  width: 218px;
  margin-top: 5px;
}

.form-popup{
    float: left;
  width: 280px;
  margin: 20px 30px 20px 20px;
}
.dangky-mail {
  float: left;
  line-height: 36px;
  margin-right: 35px;
}

input.pass {
  height: 32px;
  margin-bottom: 3px;
  border-radius: 15px;
  width: 185px;
    padding: 0 10px 0 10px;
  background-color: #240C25;
  border: #240C25;
  color: #fff;
}
input.user {
  height: 32px;
  margin-bottom: 3px;
  border-radius: 15px;
  width: 185px;
    padding: 0 10px 0 10px;
  background-color: #2D0F2F;
  border: #240C25;
  color: #fff;
}

.item-title {
  color: #FF9900;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

.item-title:hover{
    color: #910097;
}

a.news-event {
  font-size: 20px;
  margin-left: 15px;
}

.sumpost {
  width: 700px;
  display: inline-block;
}

.compendious{
      width: 700px;
  display: inline-block;
  margin-left: 20px;
}

.huongdan {
  margin: 20px 0px 20px 0px;
  color: #910097;
  font-size: 19px;
}

.content-item-header {
  border-bottom: 1px #CCCCCC solid;
  padding-bottom: 5px;
}

img.chip {
  margin-top: 5px;
  margin-left: 5px;
}

.img-chip {
  color: #009900;
}

.username-a {
  color: #cccccc;
  font-size: 12px;
}

.username-b {
  color: #cccccc;
  font-size: 18px;
}

.item-time {
  font-size: 11px;
    margin-bottom: 10px;
}

.top-menu ul li a{        
    font-weight: inherit;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
                                 
}

.top-menu ul li a:hover{
	bottom: none;
}

.top-menu ul li a div{        
    padding-top: 10px;                           
}

.nav{
    margin-top: 22px;
    width: 100%;   
    min-width: 1000px;
    position: relative;
}

.nav .nav-main{
    height: 50px;
    background-image: -webkit-linear-gradient(top, rgba(204,204,204,1),rgba(102,102,102,1));
    background-image: -moz-linear-gradient(top, rgba(204,204,204,1),rgba(102,102,102,1)); 
    background-image: -ms-linear-gradient(top, rgba(204,204,204,1),rgba(102,102,102,1));
    background-image: -o-linear-gradient(top, rgba(204,204,204,1),rgba(102,102,102,1));  
    opacity: 0.7;
}

.buttom-menu{
/*     margin-top: 22px;*/
    width: 100%;   
    height: 6px;
    min-width: 1000px;
    position: relative;
    background-color: #CCCCCC;
    opacity: 0.1;
}

.nav-text{
    position: relative;
    right: 0px;
    width: 960px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    text-align: right;
}

span.sdt {
  font-size: 24px;
  background: -webkit-linear-gradient(#FFFF00, #F2A32C); /* For Safari 5.1 to 6.0 */
  
  
  letter-spacing: -1px;
  /* margin-right: -1px; */
  font-weight: bold;  
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
}

.login-group{
    position: absolute;
  top: 4px;
  right: 0px;
}

.nav .nav-text{     
    /*line-height: 35px;*/ 
    /*width: 450px;*/
    /*display: inline-block;*/
}

.nav .user-info-username{
    font-size: 12px;
    font-weight: bold;
    color: #FFCC00;
}

.nav .nav-text span:first-child{
    font-size: 14px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.nav .nav-text span:last-child{
    display: inline-block;
    vertical-align: middle;
}

.content-item-main{
    float: left;
    width: 220px;
    margin: 30px 10px 30px 10px;
}

.border-img {
  text-align: center;
}

.download-adm-top {
  height: 300px;
}

.download-adm {
  width: 300px;
  text-align: center;
  margin: 30px 10px;
  float: left;
  height: 213px;
  border-bottom: 1px solid #fff;
}

.newsevent {
  height: 450px;
}

.top-chip-gold {
  height: 300px;
}

.top-chip {
    float: left;
  width: 192px;
  text-align: center;
  margin-top: 30px;
}

.nav .login-group{
    float:right;
    display: inline-block; 
}

.term{
    display:inline-block;
}
.login-group> *{   
    display: inline-block;
    vertical-align: top;
}

.login-group .button{
    background-color: #910097;     
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;    
    /*opacity: 0.66;*/
    padding: 5px 14px 5px 14px;    
    color: #CCCCCC;
    font-size: 11px;
    border:none;
}

.login-group .button:hover{
    color: #FFCC00;
}
.login-group .login-text{
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    font-size: 11px;
    margin-top: 11px;    
}

.space{
    color: #336C64;
    margin-top: 8px;
}

.login-group .login-gmail{
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url('images/homeimages.png') -461px -848px no-repeat;     
    margin-left: 5px;
    margin-top: 8px;
}

.login-group .login-gmail:hover{
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url('images/homeimages.png') -461px -848px no-repeat;   
    margin-left: 5px;
    margin-top: 8px;
}

.login-group .login-fb{
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url('images/homeimages.png') -492px -848px no-repeat;       
    margin-left: 5px;
    margin-top: 8px;
}

.login-group .login-fb:hover{
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url('images/homeimages.png') -492px -848px no-repeat;       
    margin-left: 5px;
    margin-top: 8px;
}

.footer {
    margin-top: 70px;
    width: 100%;    
    min-width: 1000px;
    position: relative;
}

.footer .footer-main{
    overflow: hidden;
    height: 100%;
    /*height: 220px;*/
    background-color: #28002B;    
    border-top: 3px #FF9900 solid;
    border-bottom: 1px #CCCCCC solid;
}

.footer .footer-top-shadow{
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 100px;
    /*background-image: -webkit-linear-gradient(top, transparent,rgba(0,0,0,0.85));*/
    /*background-image: -moz-linear-gradient(top, transparent,rgba(0,0,0,0.85));*/ 
    /*background-image: -ms-linear-gradient(top, transparent,rgba(0,0,0,0.85));*/
    /*background-image: -o-linear-gradient(top, transparent,rgba(0,0,0,0.85));*/     
}

.footer .footer-bottom-shadow{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 27px;
    background-image: -webkit-linear-gradient(bottom, transparent,rgba(0,0,0,0.85));
    background-image: -moz-linear-gradient(bottom, transparent,rgba(0,0,0,0.85)); 
    background-image: -ms-linear-gradient(bottom, transparent,rgba(0,0,0,0.85));
    background-image: -o-linear-gradient(bottom, transparent,rgba(0,0,0,0.85));     
}

.footer-item{
    vertical-align: top;
    width: 31%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 9px;
}

.footer-item-header{
    font-size: 18px;
    color: #ffffff;
    display: inline-block;            
}

.footer-item-main{
    margin-top: 10px;
    font-size: 13px;
}

.footer-item-main img{
    display: inline-block;    
}

.footer-item-main .item{
    width: 200px;
    display: inline-block;
}

.footer-item-main .item .item-title{
    color: #FFCC00;
    font-weight: bold;
    font-size: 13px;    
    margin-bottom: 7px;
}

.footer-item-main .item .item-sapo{
    color: #BBBA66;    
    font-size: 11px;    
}


.footer-ul-style-dis li {      
    font-size: 13px;
    margin-top: 13px;
}

.footer-ul-style-dis li span{
    width: 5px;
    height: 5px;
    display: inline-block;
    background: url('images/homeimages.png') -126px -3px;
}

.footer-ul-style-dis li a{        
    vertical-align: top;
    display: inline-block;
    color: #B8B8B8;
    font-size: 13px;
    margin-left: 5px;
    max-width: 266px;
}

.footer-ul-style-dis li a:hover{
    color: #FFCC00;
}

.item-border-right{
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    width: 1px;
    height: 200px;
    background-image: -webkit-linear-gradient(bottom, transparent,#1C4842);
    background-image: -moz-linear-gradient(bottom, transparent,#1C4842); 
    background-image: -ms-linear-gradient(bottom, transparent,#1C4842);
    background-image: -o-linear-gradient(bottom, transparent,#1C4842); 
}

.footer-ul-style-not-dis tr{
    height: 23px;
    line-height: 23px;
    color: #BAB966;
    font-size: 13px;
}

.footer-ul-style-not-dis .info-text{
    padding-left: 15px;
}

.footer-ul-style-not-dis .info-text:nth-child(2){
    /*text-decoration: underline;*/
}

.footer-ul-style-not-dis span{
    color: #ABD1C8;
    font-size: 22px;
}

.social-link{
    margin-top: 12px;
}

.social-link a:nth-child(1){
    display: inline-block;
    width: 145px;
    height: 32px;
    background: url('images/homeimages.png') -670px -880px;  
}

.social-link a:nth-child(1):hover{
    display: inline-block;
    width: 145px;
    height: 32px;
    background: url('images/homeimages.png') -670px -880px;    
}

.social-link a:nth-child(2){
    display: inline-block;
    width: 145px;
    height: 32px;
    background: url('images/homeimages.png') -825px -880px;  
}

.social-link a:nth-child(2):hover{
    display: inline-block;
    width: 145px;
    height: 32px;
    background: url('images/homeimages.png') -825px -880px;    
}

.social-link-text{
    vertical-align: top;
}

.copyright{
    color: #FDCA00;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.feature {
    margin-top: 35px;
    width: 100%;    
    min-width: 1000px;
    position: relative;
}

.feature .feature-main{
    /*height: 300px;*/
    /*background-color: rgba(37,72,66,0.3);*/    
    /*border-top: 1px rgba(61,118,108,0.64) solid;*/
    /*border-bottom: 1px rgba(61,118,108,0.64) solid;*/
}

.feature .feature-top-shadow{
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 20px;
    /*background-image: -webkit-linear-gradient(top, transparent,rgba(0,0,0,1));*/
    /*background-image: -moz-linear-gradient(top, transparent,rgba(0,0,0,1));*/ 
    /*background-image: -ms-linear-gradient(top, transparent,rgba(0,0,0,1));*/
    /*background-image: -o-linear-gradient(top, transparent,rgba(0,0,0,1));*/     
}

.feature .feature-bottom-shadow{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 20px;
    /*background-image: -webkit-linear-gradient(bottom, transparent,rgba(0,0,0,1));*/
    /*background-image: -moz-linear-gradient(bottom, transparent,rgba(0,0,0,1));*/ 
    /*background-image: -ms-linear-gradient(bottom, transparent,rgba(0,0,0,1));*/
    /*background-image: -o-linear-gradient(bottom, transparent,rgba(0,0,0,1));*/     
}

.feature .feature-title{
    text-align: center;
    color: #FDCA00;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.feature ul{
    text-align: center;
}

.feature ul li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 225px;
    max-width: 225px;
    position: relative;
}

.feature ul li:not(.first-child){
    margin-left: 2px;
}

.feature ul li span{
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('images/homeimages.png') -750px -631px;
    left: 78px;
}

.group-links-download{
    text-align: center;
}

.download-link{
    width: 90px;
    height: 28px;
    background-image: url("images/homeimages.png");
    background-position: -640px -670px;
    display: inline-block;
    margin-top: 15px;
}

.play-now {
    background-image: url("images/homeimages.png");
    background-position: -640px -630px;
    display: inline-block;
    height: 28px;
    margin-top: 15px;
    width: 90px;
}

.download-link:hover {
    background-image: url("images/homeimages.png");
    background-position: -540px -670px;
}

.play-now:hover {
    background-image: url("images/homeimages.png");
    background-position: -540px -630px;
}

.coming-soon{    
    color: #FF9600;
    font-size: 12px;
    line-height: 28px;
    text-align: center;        
    margin-top: 15px;
}
.coming-soon-out{
    padding: 0 1px;
    border-radius: 3px;
    background-color: #2D1209;
    margin-left: 15px;
    margin-right: 15px;
}

.recharge-info .recharge-title{
    font-size: 18px;
    color: #FDCA00;
    margin-top: 34px;
}

.recharge-info .recharge-title a{
    float:right;
    color: #FDCA00;
    font-size: 12px;
    line-height: 28px;
    text-align: center;          
    border-radius: 3px;
    background-color: #29635B;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.recharge-info .recharge-contruct{
    display: inline-block;
    width:520px;
    height: 50px;
    background: url("images/homeimages.png") -7px -918px;
    margin-left: 14px;
}

.recharge-info .recharge-text{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.recharge-info .recharge-phone{
    z-index: 1;
    display: inline-block;
    width:91px;
    height: 140px;
    background: url("images/homeimages.png") -564px -848px;
}
.recharge-phone li{
    color: #FFCC00;
    font-size: 23px;
    font-weight: bold;
    height: 48px;
    padding-left: 15px;
    padding-top: 3px;
}

.recharge-content{
    display: inline-block;
}

.recharge-content > *{
    vertical-align: middle;
}

.recharge-content .recharge-ratio{
    display: inline-block;
    padding-bottom: 19px;
    padding-left: 4px;
    max-width: 260px;
}

.recharge-content .recharge-ratio li:not(.border-shadow){
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 14px;
    padding-left: 7px;
}

.recharge-content .recharge-ratio li:not(.border-shadow) span:first-child{
    display: inline-block;
    width: 145px;
}

.border-shadow{
    display: inline-block;    
    width: 300px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent,#2E202F, transparent);
    background-image: -moz-linear-gradient(left, transparent,#2E202F, transparent); 
    background-image: -ms-linear-gradient(left, transparent,#2E202F, transparent);
    background-image: -o-linear-gradient(left, transparent,#2E202F, transparent); 
    margin-left: -27px;
}

.recharge-content .recharge-chip{
    margin-left: 20px;
}

.main-page{
    /*border: 1px solid #3C180B;*/
    background-color: #1B161D;
    width: 960px;
    margin: auto;
    /*margin-top: 40px;*/    
    padding: 0 0 30px 0;      
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;    
    /*border: #2C5854 1px solid;*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,1);*/
}
.page-in{
 
}

.posthd{
    width: 700px;
  padding: 0 5px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.posthd li {
  color: #FF9900;
  font-size: 16px;
  margin-bottom: 10px;
}

.posthd li:hover {
  color: #910097;
}

.tree-link{
    width: 900px;
    color:  #999999;
    font-size: 12px;
    padding: 20px 0px 0 10px;
    font-family: arial,sans-serif;  
}
.tree-link a{
    color: #999999;
    font-size: 12px;
    padding: 0 10px 0 10px;
}
.page-in-border-1{
    width: 920px;
    height: 3px;
    margin: auto;
    margin-top: 10px;
    background-color: #CCCCCC;
    opacity: 0.5;
}

.page-in-border-2{    
    height: 5px;
    margin: auto;
    margin-top: 10px;
    background-color: #5A3E5C;
}

.page-in-border-3{
    width: 100%;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #5A3E5C;
}

.column-left{
    width: 225px;
    float:left;
    margin: 20px 15px 20px 20px;
    border-right: 1px #5A3E5C solid;
    min-height: 800px;
}

.column-left .title{
    color: #CCCCCC;
    font-size: 21px;
    font-weight: inherit;
}

.column-left .ul-style-dis li{        
    color: #F79748;
    padding: 10px 10px 10px 0px;  
    border-bottom: 1px #5A3E5C solid;
}

.ul-style-dis li span{
    width: 7px;
    height: 6px;
    display: inline-block;
    background: url('images/homeimages.png') -116px -3px;
    margin-top: 5px;
    vertical-align: top;
}

.column-left li a{    
    max-width: 190px;
    vertical-align: top;
    display: inline-block;
    color:#FFCC00;
    font-size: 12px;
    margin-left: 5px;
}

.column-right{
    width: 680px;
    margin-top: 20px;  
    float:left;    
}

.column-right .top-banner img{
    border: 5px #2D1209 solid;    
}

.column-right .content .post-item{
    margin: 20px 0px 0px 0px;
}

.column-right .post-main{
    display: inline-block;
    width:500px;
    vertical-align: top;
    margin: 0px 0px 0px 15px;
}

.column-right .content .post-item .title{       
    font-weight: bold;
    font-size: 14px;
    color: #FFCC00;
}

.column-right .content .post-item .title a:hover{
    color: #910097;
}

.column-right .content .post-item .sapo{      
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
}

.column-right .info-news{
    display: inline-block;     
    width:680px;
    vertical-align: top;
}

.column-right .info-news .title-news{
    color: #FF9600;
    font-size: 25px;
    font-weight: initial;
    margin-bottom: 15px;
}

.column-right .info-news .sapo-news{
    color: #9F7DBB;
    font-size: 12px;
    font-weight: bold;
}

.info-news .content-news{
    color: #c0c0c0;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.title-97663E{
    font-size: 14px;
    font-weight: bold;
    color: #97663E;
    margin: 10px 0px 10px 0px;
}

.other-news li{
    margin: 0px 0px 15px 0px;
    padding-left: 5px;
    font-size: 11px;
}
.comment-item-left{
    display:inline-block;
}

.comment-item-left img{
    border: 2px #FF9805 solid;
}

.comment-item-right{
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin: 0px 0px 0px 15px;
}

.comment-item-right .static-label{
    color:#97663E;    
}

.download-out{
    text-align: center;
}

#download-left-panel{    
    display: inline-block;
    vertical-align: top;
}
#download-right-panel{
    width: 245px;
    display: inline-block;
    vertical-align: top;
}
.game-name{
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    color: #FF9600;
    text-transform: uppercase;
    height: 20px;
    width: 600px;
    display: block;
    padding: 20px 0 10px 20px;
}
#card-game{
    width: 720px;
    height: 400px;
    margin-left: 10px;
}
.card-game-border{
    height: 400px;
    width: 10px;
    display: inline-block;
}
.card-game-in{
    height: 400px;
    width: 230px;
    display: inline-block;  
    vertical-align: top;
}
.card-game-border-2{
    display: inline-block;
    width: 1px;
    height: 360px;
    background-image: -webkit-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));
    background-image: -moz-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));  
    background-image: -ms-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));
    background-image: -o-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));  
}

.card-game-logo{
    width: 215px;
    height: 215px;
    margin:  auto;
    display: block;
}

.game-details{
    width: 206px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 10px;    
    font-size: 12px;
    text-decoration: none;
}
.game-details-name{
    width: 100px;
    display: inline-block;
    height: 20px;
    color:#97663E;
    text-align: right;

}
.game-details-info{
    width: 80px;
    display: inline-block;
    height: 20px;
    color:#97663E;
    text-align: left;
    padding-left: 10px;
    vertical-align: top;
}

.like-game-form{
    width: 200px;
    height: 51px;
    margin: auto;
}

.like-game-form .like-item{
    width: 50px;    
    float: left;
}

.casino-game-item{
    height: 170px;
    width: 705px;
    padding-left: 10px;
    padding-top: 10px;

}

.casino-game-logo{
    width: 152px;
    height: 152px;
    display: inline-block;
    float: left;
    background-color: #2D1209;
    margin-left: 10px;
}
.casino-game-info{
    width: 280px;
    height: 170px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.casino-game-info h1{
    font-size: 18px;
    color: #EA6513;
    margin-left: 10px;
    margin-top: 10px;
}
.casino-game-info p{
    color: #97663E;
    text-align: left;
    margin-top: 15px;
}

.phom-item{
    width: 47%;
  padding: 0 10px;
  display: inline-flex;
  margin-top: 40px;
}

.phom-android {
    position: relative;
  z-index: 1;
  text-align: center;
  line-height: 27px;
  width: 280px;
  margin: auto auto 20px auto;
}
.phom-android>span{
    background: #1B302D; 
    padding: 0 15px;
    color: #B1DED8 !important;
    font-size: 18px !important;
}
.phom-item>.phom-android:before{
    border-top: 4px solid #357369;
    border-left: 4px solid #357369;
    border-right: 4px solid #357369;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}


.phom-ios {
    position: relative;
  z-index: 1;
  text-align: center;
  line-height: 27px;
  width: 280px;
  margin: auto auto 20px auto;
}
.phom-ios>span{
    background: #1B302D; 
    padding: 0 15px;
    color: #B1DED8 !important;
    font-size: 18px !important;
}
.phom-item>.phom-ios:before{
    border-top: 4px solid #357369;
    border-left: 4px solid #357369;
    border-right: 4px solid #357369;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.phom-item:nth-child(4){
    border-right: 0;
}

.phom-out>span{
    display: block;
    background: url("images/homeimages.png") 10px -780px;
    height: 23px;
}

.phom-out .game-detail-description{
    font-size: 16px;
    color: #97663E;
    text-align: left;
    margin-top: 10px;   
}

.phom-out-ios .title{
    background: url("images/homeimages.png") -10px -810px;
    width: 640px;     
}

.phom-out-ios .title{
    color:#FF9600;
    font-size: 18px;
    font-weight: bold;
}

.phom-out-ios>.phom-item{
    border-right: 1px solid rgba(81,51,31,0.5);
    border-left: 1px solid rgba(81,51,31,0.5);
}
.phom-out-ios>.phom-item:nth-child(4){
    border-left:0;
}

.download-game-button{
    width: 200px;
    height: 215px;
    background-image: url("images/ios.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-top:16px;
}

.download-game-button-adroid{
    width: 200px;
    height: 215px;
    background-image: url("images/adroif.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-top:16px;
}

.ipa {
  text-align: center;
  background: #910097;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 12px;
  border-radius: 20px;
}

.download-on-google-play{
    width: 174px;
    height: 48px;
    background-image: url("images/homeimages.png");
    background-position: -780px -120px;
    margin: auto;
    display: block;
    margin-top:20px;
}
.phom-out{    
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 45px;
}
.phom-item span{
    color: #cccccc;
  display: inline-block;
  font-size: 13px;
    margin-bottom: 12px;
  font-weight: bold;
}
.phom-out > .phom-item:last-of-type{
    border-right: 0;
}

.phom-item-info{
    width: 230px;
  display: inline-block;
}

.dtios {
  text-align: center;
  color: #F2B700;
}

.download-game-button span{
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin: auto;
    display: block;
}
.border-phom-item{
    width: 160px;
    height: 265px;
    float:left;
}
.download-on-app-store{
    width: 173px;
    height: 48px;
    background-image: url("images/homeimages.png");
    background-position: -780px -60px;
    margin: auto;
    display: block;
    margin-top:20px;
}
.game-info-details{
    width: 940px;
    height: 1000px;
    margin: 10px auto 10px;
}

.game-info-details-in{
    width: 677px;
    height: 990px;
    float: right;
    padding: 10px 10px 0 15px;
    display: inline-block;
}

.slide{
    margin-top: 10px;
}

.slide .slide-left{
    width: 960px;
    height: auto;
    /*background-color: #000000;*/       
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;    
    /*border: #6C2C13 1px solid;*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,1);*/    
    margin-top: 40px;
    margin-bottom: 40px;
}

.slide .slide-left-content{
    /*margin-top: 6px;*/
    /*margin-left: 6px;*/
}

.img-slide{
    width: 100%;
    border: #2F5C55 1px solid;
    border-radius: 6px;
}

.top-caothu{
    text-align: center;
}

.img-top{
      margin: 30px 38px;
}
.img-slide-b{
    width: auto;
    /*margin-left: 23px;*/
}

.img-slide-a{
    width: 300px;
    margin-left: 23px;
}

.slide-play-game{
    width: 129px;
    height: 112px;
    position: absolute;
    top: 70px;
    left: 15px;
    /*background-image: url("images/homeimages.png");*/
    background-position: -0px -382px;
    z-index: 1;
}

.slide-download-game{
    width: 400px;
    height: 76px;
    position: absolute;
    top: 89px;
    left: 110px;
    /*background-image: url("images/homeimages.png");*/
    background-position: -141px -401px;
}

.radio-slide{
    position: absolute;
    bottom: 10px;
    left: 455px;
    height: 14px;
}
.radio-check{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-image: url("images/homeimages.png");
    background-position: -100px 0;    
    cursor: pointer;
}
.radio-checked{
    background-image: url("images/homeimages.png");
    background-position: -85px 0;
}
.radio-check-current{
    background-color: green;
}

/*************************************************Style for dialog*********************************************/
.diaglog-wraper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('images/bg-dialog.png');
    color: background;
    font-size: 12px;
    font-family: Arial;
    z-index: 5;

}
.diaglog {
    top: 0;
    border: 8px solid #945E27;
    background-color: #401A0B;
    width: 316px;
    /*height: 100px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    text-align: left;
}
.diaglog .title {
    color: black;
    font-family: Arial;
    font-size: 12px;       
    height: 26px;
    font-weight: bold;
    background-image: url('images/diaglog-title-bg.png');
    padding-top: 14px;    
    padding-left: 10px;
}

.diaglog .title a{
    float: right;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("images/homeimages.png");
    background-position: -670px -920px;    
    cursor: pointer;    
    margin-top: -14px;
}

.diaglog .ok {
    width: 65px;
    height: 38px;
    background-image: url('images/css_images.fw.png');
    background-position: -370px -320px;
    /*position: absolute;*/
    float: right;
    cursor: pointer;
    margin-right: 11px;
    border: none;
}
.diaglog .ok:hover {
    background-position: -450px -320px;
}
.diaglog .ok-wrapper {
    bottom: 0px;
    width: 100%;
    position: absolute;
}
.diaglog .dialog-content {
    padding: 15px 0px 5px 15px;        
    height: 85%;   
    overflow-x: hidden;    
}

/*::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}*/
/*************************************************End style for dialog*****************************************/

.content-play-main{
    margin-top: 24px;
    height: 640px;   
    text-align: center;   
}

.group-game-play{
    padding-top: 225px;
    position: relative;
}

.group-game-play span{
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('images/homeimages.png') -750px -631px;
    left: 60px;
}

/*@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
  }*/
.group-game-play .text-play{
    color: #FF6600;
    font-size: 20px;
    margin-bottom: 20px;    
    -webkit-animation-name: blinker;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;    
}

.group-game-play ul li{
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

.group-game-play ul li img{
    background-color: rgba(47, 13, 0, 1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    border-bottom: 5px solid #2F0D00;
    box-shadow: 0px 0px 10px #000;
}

.group-game-play ul li:hover img{
    background-color: rgba(47, 13, 0, 1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 5px;
}
.group-game-play ul li:hover .comming-soon-img{
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('images/homeimages.png') -750px -631px;
    left: 60px;
    top: 5px;
}


.nav .nav-group-link{
    float:right;
}

.nav-group-link{
    color: #FF9900;    
    height: 40px;   
    line-height: 40px;
}

.nav-group-link span:not(.space){    
    height: 100%;
    display: inline-block;  
    padding-left: 7px;
    padding-right: 7px;
}

.nav-group-link >span:not(.space):hover{  
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    display: inline-block;    
    background-color: rgba(0,0,0,0.9);   
    position: relative;
}

.nav-group-link .current{
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    display: inline-block;    
    background-color: rgba(0,0,0,0.9);   
    position: relative;
}

div.broken,
div.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;
}
div.broken a,
div.missing a {
        height: 63px;
        position: relative;
        top: -31px;
}
div.broken img,
div.missing img {
        border-width: 0px;
}
div.broken {
        display: none;
}
div#unityPlayer {
    cursor: default;
    height: 640px;
    width: 960px;
    margin-top: 24px;
}

.message-panel-top{
    width:  920px;
    margin: auto;
    margin-top: 15px;
}
.message-panel-tittle{ 
    float: left;
    display: inline-block;
}
.message-panel-catogery{
    float: right;
    display: inline-block;
}
.message-tittle-selected{
    height: 18px;
    padding:6px 4px;
    background-color: #42200C;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
}
.message-tittle-unselected{
    height: 18px;
    padding:6px 4px;
    background-color: #1E0B06;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
    text-align: left;
}
.message-catogery-item{
    display: inline-block;
    float:left;
}
.radio-selected{
    width: 20px;
    height: 21px;
    background-image: url("images/homeimages.png");
    background-position: -500px -360px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.radio-unselected{
    width: 20px;
    height: 21px;
    background-image: url("images/homeimages.png");
    background-position: -530px -360px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.message-panel-top h1{
    color: #FF9600;
    display: inline-block;
    padding: 4px;
    float: left;
}
.message-panel{
    margin-top: 10px;
    display: none;
}
.message-panel-active{
    display: block;
}
.message-panel-left{
    width: 225px;
    display: inline-block;
    color: #000;
    margin-left: 20px;
    float: left;
}
.message-item-border{
    width: 225px;
    height: 1px;
    background-color: #2D1209;
    margin-top: 1px;
}
.message-item{
    width: 220px;
    height: 67px;
    margin: 1px 0;
    padding-right   :    5px;
}
.message-item-mark{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("images/homeimages.png");
    background-position: -730px -360px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.message-item-tittle{
    height: 34px;
    width: 190px;
    display: inline-block;
    font-weight: bold;
    color: #FF9600;
    margin-left: 9px;
    margin-top: 5px;
    cursor: pointer;
}
.message-item-author{
    display: inline-block;
    color: #FF9600;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.message-item-time{
    color: #97663E;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.message-item-selected{
    background-color: #2D1209;
}
.message-item-marked{
    background-image: url("images/homeimages.png");
    background-position: -750px -360px;
}
.message-item-tittle-readed{
    font-weight: normal;
    color: #97663E;
}
.message-panel-border{
    background-image: -webkit-linear-gradient(left, #2D1209,black );
    background-image: -moz-linear-gradient(left, #2D1209,black );
    background-image: -ms-linear-gradient(left, #2D1209,black );
    background-image: -o-linear-gradient(left, #2D1209,black    );
    width: 2px;
    height: 80%;
    display: inline-block;
    float: left;
}
.delete-button{
    width: 30px;
    height: 30px;
    background-image: url("images/delete-button.png");
    display: inline-block;
    cursor: pointer;
}
.button-form{
    height: 18px;
    padding:6px;
    background-color: #42200C;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
}
.un-click{
    cursor: default;
    background-color: #1E0B06;
}
.message-panel-right{
    width: 678px;
    min-height: 200px;
    display: inline-block;
    color: #FF9600;
    float: left;
    padding-left: 15px;
}
.message-tittle-bar{
    width: 638px;
    height: 25px;
    background-color: #2D1209;
    font-size: 18px;
    font-weight: bold;
    color: #F4D497;
    padding: 8px 20px;
}
.message-panel-right h1{
    display: inline-block;
    color: #FF9600;
    margin-top: 10px;
    /*margin-left: 5px;*/
    cursor: pointer;
}
.message-panel-right h2{
    font-size: 16px;
    color: #D6B780;
    margin-left: 15px;
}
.button-reply-form{
    height: 18px;
    padding:6px 15px;
    background-color: #F90;
    display: inline-block;
    border-radius: 3px;
    color: black;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

#download-right-panel-in{
    width: 210px;
    height: 420px;
    margin: auto;
    margin-top: 20px;
/*    background-color: #2D1209;*/
    display: block;
}

.form-register-in>h2{
    font-size: 18px;
    font-weight: bold;
    color: #FF9600;
    margin-bottom: 10px;
    margin-left: 0;
}
.form-register-in{
    color: #97663E;
    line-height: 30px;
    font-size: 12px;
    margin-top: 18px;
}
.form-register-in li{
    margin: 5px 0;
}
.register-field{
    width: 134px;
    font-weight: bold;
    margin-left: 15px;
    display: inline-block;
}
.register-input{
    border: 1px solid #B04200;
    padding: 0 5px;
    height: 30px;
    background-image: -moz-linear-gradient(top,#3F2513,#4D311D 100%);
    background-image: -webkit-linear-gradient(top,#3F2513,#4D311D 100%);
    color: #97663E;
    font-style: italic;
    width: 200px;
    vertical-align: middle;
}
.register-input::-webkit-input-placehoder{
    font-style: italic;
    color: #97663E;
    vertical-align: middle;
}
.form-register-in .error{
    display: inline-block;
    vertical-align: middle;
    color: red;
    margin-left: 5px;
}
span.required{
    color: red;
}
.brown-small-button{
    height: 30px;
    color: #FF9600;
    padding: 0px 13px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    background-image: -webkit-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    cursor: pointer;
    display: inline-block;
    border:none;
}
/*****************************ENd page 5**********************************/

.items-register-group{
    width: auto;
    height: 31px;
    position: relative;
    text-align: center;
    vertical-align: top;        
    padding-top: 8px;
}

.items-login-group{
    width: 100px;
    height: 31px;
    position: relative;
    text-align: center;
    vertical-align: top;        
    padding-top: 8px;
}

.form-register{   
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;        
    z-index: 2;
    left:0;
}

.form-register >div{
    display: inline-block;
    position: relative;
}

.form-register div>span{
    font-size: 11px;
    color: #FF9900;
    position: absolute;    
    right: 11px;
    top: 12px;
}

.form-login{   
    position: absolute;
    top: 100%;    
    display: none;
    background-color: rgba(16,35,33,0.9);    
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;        
    z-index: 2;
}

.form-forgot-password{   
    position: absolute;
    top: 100%;    
    display: none;
    background-color: rgba(16,35,33,0.9);    
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;        
    z-index: 2;
}

.login-group .input-text {
    width: 190px;
    height: 30px;
    background-image: url("images/bg-input.png");
    /*background-position: -250px -300px;*/
    background-color: transparent;
    border-radius: 2px;
    border-width: 0;
    padding: 2px 10px 2px 10px;
    color: #B1DED8;
    font-size: 11px;   
    margin-top: 5px;
}

.input-text:-webkit-autofill:focus {    
    background-image: url("images/homeimages.png") !important;
    background-position: -250px -300px !important;
}

.input-text:-webkit-autofill {
    background-image: url("images/homeimages.png") !important;
    background-position: -250px -300px !important;
}

.form-button{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.form-button .button{
    float: right;
    background-color: #910097;
    border: none;
    color: #CCC;
    border-radius: 34px;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    
}

.form-button-question{
    margin-top: 10px;    
    text-align: left;
}

.form-button-question .button{
    float: right;    
}

.form-forgot-password .forgot-password-title{
    font-size: 12px;
    color: #FF9900;
    font-weight: bold;  
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
}

.login-group .term{
    width: 190px;
    font-size: 12px;
    color: #FF9900;    
    margin-top: 5px;   
}

.login-group input::-webkit-input-placeholder{
    color: #B1DED8;
}

.login-group input:-moz-placeholder { /* Firefox 18- */
   color: #B1DED8;  
}

.login-group input::-moz-placeholder {  /* Firefox 19+ */
   color: #B1DED8;  
}

.login-group input:-ms-input-placeholder {  
   color: #B1DED8;  
}

.items-register-group:hover .form-register{
    /*display: block;*/
}

.items-register-group:hover{
    /*background-color: rgba(16,35,33,0.9);*/
}

.items-login-group:hover .form-login{
    /*display: block;*/
}

.items-login-group:hover{
    background-color: rgba(16,35,33,0.9);
}

.link-forgot-password , .link-login{
    font-size: 12px;
    color: #FFFF00;    
    text-decoration: underline;
}

.link-forgot-password:hover{     
    text-decoration: underline;
}

.login-error, .forgotpassword-error{
    font-size: 12px;
    color: red;
    margin-top: 6px;
    padding-left: 29px;
    text-align: left;
}

.errorMessage{
    font-size: 12px;
    color: red;
    margin-top: 6px;    
    text-align: left;
}

.page-intro{
    margin: 10px;
    text-align: center;
}

.page-intro p{
    color: #97663E;
    font-size: 16px; 
    text-align: justify;    
    margin-left: 90px;
    margin-right: 86px;
}

.pagination{
    height: 30px;
    margin: 30px auto auto;
    max-width: 400px;
    min-width: 200px;
    font-size: 11px;
}
.pagination li:not(.selected){
    /*background-image: -webkit-linear-gradient(top, rgba(45,85,81,1),rgba(30,53,50,1));*/
    /*background-position: -560px -360px;*/
    background: #2E202F;
    border-radius: 5px;
    display: inline-block;
    float: left;
    height: 30px;
    margin-left: 8px;
    width: 32px;
}
.pagination .selected{
    width: 32px;
    height: 30px;
    background: #FFCC00;
    /*background-image: -webkit-linear-gradient(bottom, rgba(47,86,81,1),rgba(71,135,129,1));*/
    /*background-position: -620px -360px;*/
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 8px;
}
.pagination li a:hover{
    width: 32px;
    height: 22px;
    background: #2E202F;
    /*background-image: -webkit-linear-gradient(top, rgba(45,85,81,1),rgba(30,53,50,1));*/
    /*background-position: -620px -360px;*/
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-top: 0px;
    padding-top: 8px;
}
.pagination li a{
    color: #cccccc;
    display: block;
    height: 12px;
    margin: 8px auto auto;
    text-align: center;
    width: 12px;
}

.time-news {
    font-size: 12px;
    color: #97663E;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-row{
    margin-top: 10px;
}

.content-wrapper{
    margin: 20px;
}
.category-item{
    width: 250px;
    height: 220px;    
    display: inline-block;
    margin: 10px 25px 50px 30px;    
    text-align: center;
    vertical-align: middle;
}

.category-item img{
    /*margin-top: 20px;*/
}
.category-item .category-name{        
    display: inline-block;    
    width: 250px;    
    margin-top: 50px;
    /*height: 48px;*/
    /*background-image: url("images/homeimg.png");*/
    /*background-position: -350px -60px;*/
    text-align: center;
}
.category-name >div{
    display: inline-block;
    width: 200px;
    height: 36px;
}
.category-name >div>div{
    display: table;
    width: 100%;
    height: 100%;
}
.category-name >div>div>span{
    display: table-cell;
    vertical-align: middle;
}

.category-name span{
    font-size: 18px;
    color: #cccccc;
    font-weight: inherit;
}

.category-item a{
  width: 100%;
    height: 100%;
    display: block;
    /* border: #78AFAC 2px solid; */
    border-radius: 6px;
    background-image: url("images/background-b.png");
    background-repeat: no-repeat;
}

.question-title{
    font-size: 16px;
    color: #fff;
}
.question-content{
    margin-top: 30px;
    text-align: center;
}
.question-content p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #cccccc;
}
.question-content{
    color: #fff;
    font-size: 12px;      
}

.question-content form{
    display: inline-block;
}
.question-content form>div{
    
}
.question-content textarea{
    width: 400px;
    height: 120px;
    background-color: #2D0F2F;
    border: 1px #3A2A3C solid;
    font-size: 12px;
    color: #fff;
    padding: 5px;
}
.question-content label{
    vertical-align: top;
    margin-right: 5px;
}
.question-submit{
    text-align: left;
}
.question-content .form-input{
    width: 475px;
    display: inline-block;
}

.question-submit input{    
    border-radius: 4px;
    border: none;
    background-image: -webkit-linear-gradient(left, rgba(251,193,79,1),rgba(214,166,36,1));
    background-image: -moz-linear-gradient(left, rgba(251,193,79,1),rgba(214,166,36,1));  
    background-image: -ms-linear-gradient(left, rgba(251,193,79,1),rgba(214,166,36,1));
    background-image: -o-linear-gradient(left, rgba(251,193,79,1),rgba(214,166,36,1));  
    color: #000000;
    padding: 5px;
    width: 40px;
    text-align: center;
    margin-top: 15px;
    margin-left: 57px;
}

.ul-style-gradient li{
    width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    background: #2E202F;
/*    background-image: -webkit-linear-gradient(top, rgba(54,22,10,1),rgba(82,33,14,1));
    background-image: -moz-linear-gradient(top, rgba(54,22,10,1),rgba(82,33,14,1));  
    background-image: -ms-linear-gradient(top, rgba(54,22,10,1),rgba(82,33,14,1));
    background-image: -o-linear-gradient(top, rgba(54,22,10,1),rgba(82,33,14,1));      */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;    
}

.ul-style-gradient li:hover, .ul-style-gradient li.active{
    width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    background: #8156A3;
    color: #fff;
/*    background-image: -webkit-linear-gradient(top, rgba(168,70,23,1),rgba(131,54,18,1));
    background-image: -moz-linear-gradient(top, rgba(168,70,23,1),rgba(131,54,18,1));  
    background-image: -ms-linear-gradient(top, rgba(168,70,23,1),rgba(131,54,18,1));
    background-image: -o-linear-gradient(top, rgba(168,70,23,1),rgba(131,54,18,1));      */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;    
}

.ul-style-gradient li>div{
    display: table;
    width: 100%;
    height: 100%;
}
.ul-style-gradient li a{
    max-width: 190px;
    vertical-align: top;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    display: table-cell;
    vertical-align: middle;
}
.wrapper-table .empty{
    color: #FF9600;
    font-size: 14px;
}
.guide-item{
    margin-top:10px;
}
.guide-item-title{
    color: #FFCC00;
    font-size: 14px;
    font-weight: bold;
}

.guide-item-title:hover{
    color: #910097;
}

.guide-item-sapo{
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.guide-border{
    text-align: center;
}

.dialog-content .login-title{
    font-size: 12px;
    color: #FF9600;
    font-weight: bold;
}

.dialog-content .content-left{
    padding-right: 10px;
    border-right: 1px #631F02 solid;
}

.dialog-content .content-right{
    padding-left: 8px;
}

.dialog-content .login-input li{
    margin-top: 5px;
}

.dialog-content input::-webkit-input-placeholder{
    color: #97663E;
}

.quick-register{
    margin-top: 10px;
}

.share{
    text-align: center;
    margin-top: 10px;
}

.share div.shareItem {
    float: none;
    display: inline-block;
    zoom: 1;
    margin-bottom: 5px;
    height: 25px;
    vertical-align: top;
}

.footerLinks{
   text-align: center;
   color: #fff;
}

.footerLinks a:link {
    color: #ffffff;
}

.flower{
    display: inline-block;    
    vertical-align: top;
    width: 1px;
    height: 40px;
    background-image: -webkit-linear-gradient(bottom, transparent,#1C4842);
    background-image: -moz-linear-gradient(bottom, transparent,#1C4842); 
    background-image: -ms-linear-gradient(bottom, transparent,#1C4842);
    background-image: -o-linear-gradient(bottom, transparent,#1C4842); 
}

#___plusone_0{ width:72px !important; }
