* { margin:0; padding:0; }

body          { background-color: #fff; font-family: Tahoma,Geneva,Kalimati,sans-serif; color:#000; }

img           { border:0; vertical-align:top; }

a             { color:#05c; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1            { font-size:20px; font-weight:normal; line-height:1.15; }
h2            { font-size:18px; font-weight:normal; line-height:1.25; }
h3            { font-size:16px; font-weight:bold; line-height:1.25; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
strong        { font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* Lists */
ul,ol         { list-style:none; }
a
{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
input[type="submit"]{
    cursor: pointer;
}
input{
    outline: none;
    box-sizing: content-box;
}

body{
/*    background: url('images/m_background.png') repeat;*/
}

#header .top-header{    
    background-image: -webkit-linear-gradient(top, rgba(64,19,0,1),rgba(32,9,0,1));
    background-image: -moz-linear-gradient(top, rgba(64,19,0,1),rgba(32,9,0,1)); 
    background-image: -ms-linear-gradient(top, rgba(64,19,0,1),rgba(32,9,0,1));
    background-image: -o-linear-gradient(top, rgba(64,19,0,1),rgba(32,9,0,1));    
    background-image: linear-gradient(to top, rgba(64,19,0,1),rgba(32,9,0,1));
}

#header h1{
    display: inline-block;
}
#header h1 a{
    display: inline-block;
}
#header h1 img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.phone-contact{
    position: absolute;
    top: 21px;
    right: 50px;
    width: 109px;
    height: 27px;
    display: inline-block;
    background-image: url('images/m_contact.png'); 
    background-repeat: no-repeat;
}

.phone-number{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url('images/m_phone.png');
    float: right;
    margin-top: 14px;
    margin-right: 10px;
}

.top-menu{
    background-color: #fff;
    height: 30px;
    font-size: 11px;
    color: #333333;
    font-weight: bold;
}
.top-menu ul{
    height: 100%;    
}

.top-menu ul li{
    display: inline-block;   
    width: 33.1%;
    height: 100%;
    float: left;
    text-align: center;
}

.top-menu ul li:not(.last-child){
    border-right: 1px #ccc solid;
}

.top-menu ul li.active{
    background-image: -webkit-linear-gradient(top,rgba(255,153,0,1) ,rgba(255,204,0,1));
    background-image: -moz-linear-gradient(top,rgba(255,153,0,1) ,rgba(255,204,0,1)); 
    background-image: -ms-linear-gradient(top,rgba(255,153,0,1) ,rgba(255,204,0,1));
    background-image: -o-linear-gradient(top,rgba(255,153,0,1) ,rgba(255,204,0,1));
    
}

.top-menu ul li a{
    display:inline-block;
    padding-top: 9px;
    width: 100%;
    height: 70%;
}

#header .bottom-header{
    height: 10px;    
    background-image: -webkit-linear-gradient(bottom, transparent,rgba(0,0,0,0.3));
    background-image: -moz-linear-gradient(bottom, transparent,rgba(0,0,0,0.3)); 
    background-image: -ms-linear-gradient(bottom, transparent,rgba(0,0,0,0.3));
    background-image: -o-linear-gradient(bottom, transparent,rgba(0,0,0,0.3)); 
}

.clear-both{
    clear: both;
}

#footer{
    background-color: #4B0000;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
#footer .copyright{
    padding-bottom: 3px;
}

.main-page{
    position: relative;
    background-color: #fff;      
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;    
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3), -1px -1px 3px rgba(0,0,0,0.3);
    margin: 0px 5px 10px 5px;
    padding: 10px;    
    color: #000;
    font-size: 12px; 
    text-align: center;
}

.game-download{
    bottom: -3px;
    right: 18px;
    position: absolute;
    width: 175px;
    height: 35px;
    display: inline-block;
    background-image: url('images/m_download.png');
}

.game-hot{
    top: 0;
    right: -2px;
    position: absolute;
    width: 51px;
    height: 51px;
    display: inline-block;
    background-image: url('images/m_hot.png');
    background-repeat: no-repeat;
}

.game-title{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.game-info{
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-info img{
    width: 30%;
}

.game-info .game-info-details{
    width: 64%;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}

.game-info .game-info-item span, .game-info-name{
    font-weight: bold;    
}

.game-info-name{
    margin-bottom: 5px;
}

.game-description{
    margin-top: 5px;
    text-align: justify;
}

.ios-not-jailbreak{
    background-image: -webkit-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1));
    background-image: -moz-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1)); 
    background-image: -ms-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1));
    background-image: -o-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1)); 
    background-image: linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);        
    color: #fff;
    font-size: 16pt; 
    text-align: center;
    border: 1px #5883B0 solid;
    margin-top: 5px;
}

.ios-not-jailbreak .border{
    border-top: 1px #74AADD solid;
    border-radius: 10px;
}

.ios-jailbreak, .android-not-chplay{
    background-image: -webkit-linear-gradient(top,rgba(251,204,101,1) ,rgba(230,144,21,1));
    background-image: -moz-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1)); 
    background-image: -ms-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1));
    background-image: -o-linear-gradient(top,rgba(71,143,210,1) ,rgba(37,103,171,1)); 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);     
    color: #333333;
    font-size: 16pt; 
    text-align: center;
    border: 1px #D3A74D solid;
    margin-top: 5px;
}

.ios-jailbreak .border, .android-not-chplay .border{
    border-top: 1px #FCD88A solid;
    border-radius: 10px;
}

.text-link{
    padding: 15px;
    font-weight: bold;
}

.main-page .p-italic{
    font-style: italic; 
    font-weight: bold;
    margin-bottom: 10px;
}

.separator{
    background-color: #200900;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;    
    margin-bottom: 10px;
}

.separator span{
    display: inline-block;
    padding-left: 10px;
}

.android-chplay{
    background-image: -webkit-linear-gradient(top,rgba(175,214,105,1) ,rgba(130,173,39,1));
    background-image: -moz-linear-gradient(top,rgba(175,214,105,1) ,rgba(130,173,39,1)); 
    background-image: -ms-linear-gradient(top,rgba(175,214,105,1) ,rgba(130,173,39,1));
    background-image: -o-linear-gradient(top,rgba(175,214,105,1) ,rgba(130,173,39,1)); 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);     
    color: #333333;
    font-size: 16pt; 
    text-align: center;
    border: 1px #94B05F solid;
    margin-top: 5px;
    margin-bottom: 18px;
}

.android-chplay .border{
    border-top: 1px #C2E08E solid;
    border-radius: 10px;
}

.game-device-title{
    color: #FF3300;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 5px 0px 5px 0px;    
}

.ios-not-jailbreak span{
    width: 34px;
    height: 34px;
    display: inline-block;
    background-image: url('images/m_not_jailbreak.png');
    float:left;    
    margin-left: 9px;
    margin-top: 9px;
}

.ios-jailbreak span{
    width: 40px;
    height: 36px;
    display: inline-block;
    background-image: url('images/m_jailbreak.png');
    float:left;    
    margin-left: 5px;
    margin-top: 9px;
}

.android-chplay span{
    width: 32px;
    height: 36px;
    display: inline-block;
    background-image: url('images/m_chplay.png');
    float:left;    
    margin-left: 9px;
    margin-top: 9px;
}

.android-not-chplay span{
    width: 42px;
    height: 39px;
    display: inline-block;
    background-image: url('images/m_not_chplay.png');
    float:left;    
    margin-left: 5px;
    margin-top: 9px;
}

.slide-left-content img{    
    display: inline-block;    
    width: 100%;
}
    
.slide{
    position:relative;
    /*margin-bottom: 15px;*/ 
    max-height: 100px;
    min-height: 90px;
}

.swiper-wrapper, .swiper-slide, .swiper-slide img {
  width: 100%;
  min-height: 90px;
  max-height: 100px;  
}

.slide-next{
    width: 16px;
    height: 32px;
    display: inline-block;
    background-image: url('images/m_next.png');
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 3;
}

.slide-prev{
    width: 16px;
    height: 32px;
    display: inline-block;
    background-image: url('images/m_prev.png');
    position: absolute;
    top: 30%;    
    z-index: 3;
}
.content-page .content{
    margin-top: 15px;
    text-align: justify;
    color: #000;
}

.content-page .content img{
    max-width: 100%;    
}

.item-post{
    text-align: left;
    position: relative;
}

.item-post img{
    width: 20%;
    /*max-width: 60px;*/    
    max-height: 60px;
}
.post-content{
    width: 66%;
    display: inline-block;
    margin-left: 5px;
}

.post-content span{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.button-detail{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url('images/m_button_detail.png');
    position: absolute; 
    right: 0;
    top: 20%;
}

.more{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more a{    
    background-image: -webkit-linear-gradient(top,rgba(250,250,250,1) ,rgba(200,200,200,1));
    background-image: -moz-linear-gradient(top,rgba(250,250,250,1) ,rgba(200,200,200,1)); 
    background-image: -ms-linear-gradient(top,rgba(250,250,250,1) ,rgba(200,200,200,1));
    background-image: -o-linear-gradient(top,rgba(250,250,250,1) ,rgba(200,200,200,1)); 
    padding: 7px 10px 7px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px #BABABA solid;
    color: #000;
    font-size: 12pt; 
    text-align: center;
}

/*.not-support{
    background-image: -webkit-linear-gradient(top,rgba(102,102,102,1) ,rgba(51,51,51,1));
    background-image: -moz-linear-gradient(top,rgba(102,102,102,1) ,rgba(51,51,51,1)); 
    background-image: -ms-linear-gradient(top,rgba(102,102,102,1) ,rgba(51,51,51,1));
    background-image: -o-linear-gradient(top,rgba(102,102,102,1) ,rgba(51,51,51,1)); 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);        
    color: #fff;
    font-size: 16pt; 
    text-align: center;
    border-top: 1px #8C8C8C solid;
    margin-top: 5px;
}

.not-support .border{
    border-top: 1px #8C8C8C solid;
    border-radius: 10px;
}*/

.not-support{
   width: 292px;
   height: 62px;
   display: inline-block;
   background-image: url("images/not_support.png");
}


.game-device-android{
    margin-top: 10px;
}

.form-register-in .error{
    display: inline-block;
    vertical-align: middle;
    color: red;
    margin-left: 5px;
}
span.required{
    color: red;
}