/* 
    Document   : newCascadeStyleSheet
    Created on : 05-03-2013, 10:37:41
    Author     : Tung
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    margin: 0; padding: 0; border:0;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    /*color: white;*/
}

ul, ol
{
    list-style: none;
}

a
{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
input[type="submit"]{
    cursor: pointer;
}
input{
    outline: none;
    box-sizing: content-box;
}
body{
    background-image: url("images/backgroud.jpg");
    /*background-position: center;*/
    min-height: 1000px;
    margin: 0px auto;
}

/**********style for top-menu************/
.top-menu-background{
    background-image: -webkit-linear-gradient(top, rgba(109,0,0,0.5) 0%,rgba(255,0,0,0.5) 100%);
    background-image: -moz-linear-gradient(top, rgba(109,0,0,0.5) 0%,rgba(255,0,0,0.5) 100%);
    /*background-image: url('images/top-menu-bg.png');*/
    height: 40px;
    border-bottom: 2px #AA2B00 solid;
    min-width: 1000px;
}
.top-menu{
    height: 40px;
    width: 960px;
    margin: 0 auto;

}
.homeimages{
    background-image: url("images/homeimages.png");
}
.top-menu .menu-in{
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-menu .right-menu-in{
    height: 40px;
    display: inline-block;
    margin-left: 100px;
    float: right;
}   
.top-menu .menu-in .top-menu1{
    display: inline-block;
    width: 99px;
    height: 40px;
    background-position: -234px -248px;
}

.top-menu1:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-position: -234px -248px;
}
.top-menu .menu-in .top-menu2{
    display: inline-block;
    width: 79px;
    height: 40px;
    background-position: -335px -248px;
}
.top-menu2:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -335px -248px;
}
.top-menu .menu-in .top-menu3{
    display: inline-block;
    width: 59px;
    height: 40px;
    background-position: -416px -248px;
}
.top-menu3:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -416px -248px;
}
.top-menu .menu-in .top-menu4{
    display: inline-block;
    width: 93px;
    height: 40px;
    background-position: -477px -248px;
}
.top-menu4:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -477px -248px;
}
.top-menu .menu-in .top-menu5{
    display: inline-block;
    width: 133px;
    height: 40px;
    background-position: -572px -248px;
}
.top-menu5:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -572px -248px;
}
.top-menu .menu-in .top-menu6{
    display: inline-block;
    width: 63px;
    height: 40px;
    background-position: -707px -248px;
}
.top-menu6:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -707px -248px;
}
.top-menu .menu-in .top-menu7{
    display: inline-block;
    width: 83px;
    height: 40px;
    background-position: -772px -248px;
}
.top-menu7:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background-image: url("images/homeimages.png"),-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); 
    background-position: -772px -248px;
}

.top-menu .menu-in .menu-border{
    height: 40px;
    width: 2px;
    padding: 0;
    display: inline-block;
    background-position: -448px -0px;
}

.top-menu .menu-in .home{
    margin: 0;
    height: 40px;
    width: 45px;
    display: inline-block;
    background-position: -350px -80px;

}
.top-menu .menu-in .home:hover{
    background-position: -350px -130px;
}

.orange-button{
    background-image: -webkit-linear-gradient(top, #FF8400,#FF4500);
    background-image: -moz-linear-gradient(top, #FF8400,#FF4500); 
    background-image: -ms-linear-gradient(top, #FF8400,#FF4500);
    background-image: -o-linear-gradient(top, #FF8400,#FF4500); 
    padding: 8px 16px;
    border-bottom: 2px solid #6B0A0A;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);    
}
.button-add-cash{
    vertical-align: 30px;
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, #FF8400,#FF4500);
    background-image:url("images/homeimages.png"),-moz-linear-gradient(top, #FF8400,#FF4500) ; 
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, #FF8400,#FF4500);
    background-image:url("images/homeimages.png"),-o-linear-gradient(top, #FF8400,#FF4500) ; 
    background-position: -116px 0;
    height: 28px;
    padding: 0;
    width: 80px;
}
.button-add-cash:hover{
    background-image: url("images/homeimages.png"),-webkit-linear-gradient(top, #FF4500,#FF8400);
    background-image: url("images/homeimages.png"),-ms-linear-gradient(top, #FF8400,#FF4500);
    background-image:url("images/homeimages.png"),-o-linear-gradient(top, #FF8400,#FF4500) ; 
    background-image: url("images/homeimages.png"),-moz-linear-gradient(top, #FF4500,#FF8400); 
}

.top-menu .right-menu-in .skype{
    height: 25px;
    width: 25px;
    margin-top: 8px;
    background-position: -32px -2px;
    display: inline-block;
    vertical-align: 30px;
}
.top-menu .right-menu-in .yahoo{
    height: 29px;
    width: 29px;
    margin-top: 6px;
    background-position: -57px -2px;
    display: inline-block;
    vertical-align: 26px;
}
.top-menu .right-menu-in span{
    color: white;
    font-family: Tamoha;
    font-size: 11px;
    margin-top: 12px;
    padding: 3px;
    display: inline-block;
    vertical-align: 40px;
}

/********************end style for top-menu****************/

/********************style for menu*********************/
.menu{
    width: 960px;
    margin: auto;
}
.menu .logo{
    height: 94px;
    width: 331px;
    background-position: 0 -40px;
    display: inline-block;
    margin-top: 30px;
    background-repeat: no-repeat;
}
.menu .login{
    /*height: 121px;*/
    margin-top: 24px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: 0px;
    margin-left: 170px;
    float: right;
}
.menu .login h1{
    color: #FF9900;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px !important ;
    font-weight: normal;
    width: 100%;
}
.menu .login .fast-login h2{
    color: #FF9900;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px !important ;
    font-weight: normal;
    margin-left: 18px;
}
.menu .login .login-in{
    display: inline-block;

}
.first-link-register{
    margin-left: 75px;
}
.menu .login .login-in a,.menu .login .login-in span{
    color: #FF9900;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px !important ;
    font-weight: normal;
    display: inline-block;
    margin-top: 5px;
}
.login .login-in input{
    width: 190px;
    height: 26px;
    background-position: -250px -300px;
    background-color: transparent;
    border-radius: 2px;
    border-width: 0;
    padding: 2px 5px 2px 5px;
    color: #333333;
    font-size: 11px;
    font-family: tahoma;
}
.menu .login .login-in input[type = "text"]{
    margin-top: 5px;
}
.menu .login .login-in input[type = "password"]{
    display: block;
    margin-top: 5px;
}
.login input[type=submit]{
    display :inline-block;
    width: 82px;
    height: 67px;
    background-color: transparent;
    background-position: -480px -290px;
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 3px;
    vertical-align: top;
}
.menu .login input[type=submit]:hover{
    background-position: -570px -290px;
}
.login input[type=button]{
    display :inline-block;
    width: 82px;
    height: 67px;
    background-color: transparent;
    background-position: -480px -290px;
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 3px;
    vertical-align: 42px;
}
.menu .login input[type=button]:hover{
    background-position: -570px -290px;
}
.menu .login .fast-login{
    display: inline-block;
    margin-left: 5px;
    margin-top: 4px;
    vertical-align: -20px;
}
.menu .login .fast-login a{
    height: 41px;
    width: 41px;
    background-color: transparent;
    display:inline-block;
    margin-top: 7px;    
    margin-left: 5px;
}
.menu .login .fast-login span{
    height: 33px;
    width: 41px;
    background-color: transparent;
    display: inline-block;  
    margin-left: 5px;
}
.fast-gmail{
    background-position: -2px -182px;

}
.fast-yahoo{
    background-position: -50px -182px;
}
.fast-facebook{
    background-position: -97px -182px;
}
.gmail-shadow{
    background-position: -2px -222px;
}
.yahoo-shadow{
    background-position: -49px -222px;
}
.facebook-shadow{
    background-position: -97px -222px;
}
.slide{
    height: 208px;
    width: 948px;
    border-radius: 5px;
    border:1px solid #3B180B;
    margin: auto;
    margin-top: 21px;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.65),
        5px -5px 40px rgba(0,0,0,0.65),
        -5px 5px 40px rgba(0,0,0,0.65),
        -5px -5px 40px rgba(0,0,0,0.65);
    position: relative;
    background-color: black;
    padding: 5px;
    position: relative;
}
.slide-content{
    height: 208px;
    width: 948px;
}
.slide-item{
    height: 208px;
    width: 948px;
    position: absolute;
    top:5;
    left: 5;
}
.radio-slide{
    position: absolute;
    bottom: 10px;
    left:  20px;
    height: 14px;
}
.radio-check{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-position: -100px 0;
    cursor: pointer;
}
.radio-checked{
    background-position: -85px 0;
}
.radio-check-current{
    background-color: green;
}
.slide-addcash{
    width: 240px;
    height: 52px;
    position: absolute;
    bottom: -30px;
    right: 30px;
    background-position: -662px -297px;
}
.slide-download-game{
    width: 509px;
    height: 112px;
    position: absolute;
    top: 40px;
    left: 35px;
    background-position: -0px -400px;
}
/**********end-style-menu**************/
/***************style-download-panel*************/
#download-form{
    width: 960px;
    margin: 5px auto;
    min-height: 100px;
    position: relative;
}
#download-panel{
    margin-top: 10px;
    min-height: 80px;
    min-width: 560px;
    vertical-align: top;
    display: inline-block;
    /*    float: left;
        z-index: 1;
        position: absolute;*/
}
#download-panel .download-item{
    width: 205px;
    display: inline-block;
    vertical-align: top;
}
#download-panel .download-item span{
    width: 160px;
    height: 97px;
    background-position: 0 -315px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#download-panel .download-item div{
    margin-left: 17px;
}

#message{
    /*margin-left:  630px;*/
    margin-top: 20px;
    font-family: Arial;
    font-weight: normal;
    display: inline-block;
    max-width: 330px;
    /*position: absolute;*/
}
#message h1{
    color: white;
    font-size: 13px;
}
#message h2{
    color: #FF9900;
    font-size: 14px;
    font-weight: bold;
}
#message h3{
    color: white;
    font-size: 11px;
}
#message h2 span{
    font-size: 20px;
    color: #FF9900;
    font-weight: bold;
}
#message h2 .username{
    font-size:17px;
    color: #FF9900;
    font-weight: bold;

}

/***************end style for menu***********/










/***************style for footer************/

.footer{
    margin-top: 0px;
    min-width: 1000px;
}
.footer-top{
    height: 170px;
    background-image: -webkit-linear-gradient(top, transparent,black);
    background-image: -moz-linear-gradient(top, transparent,black);
    background-image: -ms-linear-gradient(top, transparent,black);
    background-image: -o-linear-gradient(top, transparent,black);
}
.footer-border-1{
    height: 2px;
    background-color: #9D3101;
}
.news-out{
    background-color: rgba(22,9,3,0.9);
}
.footer .news{
    height: 200px;
    width: 960px;
    margin: auto;   
}
.event{
    height: 180px;
    width: 313px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;  
    position: relative;

}
.event-info{
    height: 170px;
    width: 320px;
    background-position:-452px -2px ;
    position: absolute;
    top:30px;
    left: -20px;
    cursor: pointer;
}
.news-in{
    width: 300px;
    height: 180px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
}
.news h1{
    font-size: 18px;
    font-family: tahoma;
    color: white;
    line-height: 30px;
}
.news-in ul{
    color: white;
    list-style-type: disc;
    font-family: tahoma;
    font-size: 11px;
    line-height: 30px;
}
.news-in ul li a{
    color: white;
    list-style-type: disc;
    font-family: tahoma;
    font-size: 11px;
}
.contact{
    display: inline-block;
    height: 180px;
    width: 320px;
    vertical-align: top;
    padding-top: 20px;
}
.contact p,.contact h2{
    color: white;
    list-style-type: disc;
    font-family: Arial;
    font-size: 13px;
    display: inline-block;
    font-weight: normal;
}
.contact a{
    margin-left: 10px;
}
.contact h2{
    text-align: right;
    width: 60px;
    margin-left: 10px;
}
.contact h4{
    color: white;
    list-style-type: disc;
    font-family: Arial;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
}
.contact span,.contact h2{
    display: inline-block;
}
.contact h5{
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    color: white;
}
.contact a{
    text-decoration: underline;
    color: white;
}
.contact span{
    color: white;
    list-style-type: disc;
    font-family: Arial;
    font-size: 21px;
    margin-left: 10px;
}

.card-logo{
    display: inline-block;
    height: 200px;
    width: 0px;
    vertical-align: top;

}
.card-logo-in{
    width: 89px;
    height: 73px;
    background-position: -350px 0;
    display: block;
    margin-top: -40px;
    margin-left: -55px;
}

.footer-info-out{
    /*position: relative;*/
    background-image: -webkit-linear-gradient(top, black,transparent 27px);
    background-image: -moz-linear-gradient(top, black,transparent 27px); 
}
.footer-info-out-in{
    background-color: rgba(22,9,3,0.9);
}

.footer-info{
    height: 261px;
    width: 961px;
    margin: auto;

}


.footer-border{
    display: inline-block;
    width: 1px;
    background-image: -webkit-linear-gradient(top, #9D3001,transparent);
    background-image: -moz-linear-gradient(top, #9D3001,transparent); 
    background-image: -ms-linear-gradient(top, #9D3001,transparent);
    background-image: -o-linear-gradient(top, #9D3001,transparent); 
    height: 261px;
    background-repeat: no-repeat;
    margin: 0;
}
.footer-info-item{
    display: inline-block;
    width: 217px;
    height: 261px;
    margin: 0;
    padding: 0 8px ;
    color: white;
    vertical-align: top;
}
.footer-info-item h1{
    font-family: Tahoma;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
}
.footer-info-item span{
    height: 1px;
    width: 227px;
    margin: auto;
    background-position: 0 -140px;
    display: block;
}
.footer-info-item h2{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}
.footer-info-item h3{
    font-family: Arial;
    font-size: 11px;
    color: #B7B7B7;
    line-height: 15px;
}
.footer-link-border{
    height: 1px;
    width: 951px;
    margin: auto;
    background-image: -webkit-linear-gradient(left, transparent,rgba(102,32,2,0.8)20%,#662002,rgba(102,32,2,0.8)80%,transparent);
    background-image: -moz-linear-gradient(left, transparent,rgba(102,32,2,0.8)20%,#662002,rgba(102,32,2,0.8)80%,transparent); 
    background-image: -ms-linear-gradient(left, transparent,rgba(102,32,2,0.8)20%,#662002,rgba(102,32,2,0.8)80%,transparent);
    background-image: -o-linear-gradient(left, transparent,rgba(102,32,2,0.8)20%,#662002,rgba(102,32,2,0.8)80%,transparent); 

}
#footer-link{
    height: 77px;
    width: 951px;
    margin: auto;
    background-image: -webkit-linear-gradient(left, transparent,rgba(0,0,0,0.8),transparent);
    background-image: -moz-linear-gradient(left, transparent,rgba(0,0,0,0.8),transparent);  
    background-image: -ms-linear-gradient(left, transparent,rgba(0,0,0,0.8),transparent);
    background-image: -o-linear-gradient(left, transparent,rgba(0,0,0,0.8),transparent);  
}
#china{
    height: 30px;
    width: 30px;
    margin: 18px 0 0 10px;
    display: inline-block;
    background-position: -202px -202px;
    vertical-align: top;
}
#canada{
    height: 30px;
    width: 30px;
    margin-top: 18px;
    display: inline-block;
    background-position: -232px -202px;
    vertical-align: top;
}
#british{
    height: 30px;
    width: 30px;
    margin-top: 18px;
    display: inline-block;
    background-position: -262px -202px;
    vertical-align: top;
}
#vietnam{
    height: 30px;
    width: 30px;
    margin-top: 18px;
    display: inline-block;
    background-position: -292px -202px;
    vertical-align: top;
}
#english{
    height: 30px;
    width: 30px;
    margin-top: 18px;
    display: inline-block;
    background-position: -322px -202px;
    vertical-align: top;
}
#link1{
    height: 40px;
    width: 67px;
    margin-top: 17px;
    margin-left: 14px;
    display: inline-block;
    background-position: -376px -202px;
    vertical-align: top;
}
#link2{
    height: 40px;
    width: 42px;
    margin-top: 17px;
    margin-left: 27px;
    display: inline-block;
    background-position: -478px -202px;
    vertical-align: top;
}
#link3{
    height: 40px;
    width: 44px;
    margin-top: 17px;
    margin-left: 27px;
    display: inline-block;
    background-position: -547px -202px;
    vertical-align: top;
}
#link4{
    height: 40px;
    width: 40px;
    margin-top: 17px;
    margin-left: 27px;
    display: inline-block;
    background-position: -618px -202px;
    vertical-align: top;
}
#link5{
    height: 40px;
    width: 83px;
    margin-top: 17px;
    margin-left: 27px;
    display: inline-block;
    background-position: -673px -202px;
    vertical-align: top;
}
#link6{
    height: 34px;
    width: 87px;
    margin-top: 17px;
    margin-left: 27px;
    display: inline-block;
    background-position: -779px -202px;
    vertical-align: top;
}
#footer-face{
    height: 34px;
    width: 34px;
    margin-top: 17px;
    margin-left: 20px;
    display: inline-block;
    background-position: -930px -202px;
    vertical-align: top;
}
#footer-twitter{
    height: 34px;
    width: 34px;
    margin-top: 17px;
    margin-left: 10px;
    display: inline-block;
    background-position: -973px -202px;
    vertical-align: top;
}
#footer-like{
    height: 24px;
    width: 54px;
    margin-top: -14px;
    margin-left: 10px;
    display: inline-block;
    background-position: -1016px -207px;
    vertical-align: middle;
}
.footer-link-border2{
    width: 2px;
    height: 34px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    background-position: -358px -202px;
    margin-top: 16px;
}
.footer-link-border1{
    width: 2px;
    height: 34px;
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
    vertical-align: middle;
    background-position: -358px -202px;
}

/*******************end home-page****************/














/*******************02**************************/
.profile-form{
    display: inline-block;
    margin-top:15px;
    float: right;
}
.profile-border{
    display: inline-block;
    vertical-align: top;
}
#profile-avatar{
    display: inline-block;
    vertical-align: top;
    height: 90px;
    width: 90px;
    background-color: #000;
    margin: 0px 10px 0;
    padding: 2px;
}
#profile-avatar img{
    width: 100%;
    height: 100%;
}
#profile-name{
    display: block;
    min-width: 100px;
    font-size: 12px;
    min-height:  22px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}
.profile-item-out{
    position: relative;
}
#profile-chips{
    display: block;
    min-width: 100px;
    font-size: 12px;
    min-height:  22px;
    font-family: Tahoma;
    color: #FF9;
    text-align: center;
    line-height: 20px;
}
#profile-message{
    display: block;
    height:30px;
    width: 30px;
    margin-bottom: 8px;
    background-position: -960px -370px;
}
#profile-message:hover{
    cursor: pointer;
}
#profile-item{
    display: block;
    background-position: -880px -370px;
    height:30px;
    width: 30px;
    margin-bottom: 8px;
}
#profile-change-chips{
    display: block;
    background-position: -800px -370px;
    height:30px;
    width: 30px;
    margin-bottom: 0px;
}
#profile-group{
    display: block;
    background-position: -840px -370px;
    height:30px;
    width: 30px;
    margin-bottom: 8px;
}
#profile-settings{
    display: block;
    background-position: -1000px -370px;
    height:30px;
    width: 30px;
    margin-bottom: 8px;
}
#profile-logout{
    display: block;
    background-position: -920px -370px;
    height:30px;
    width: 30px;
    margin-bottom: 0px;
}
#profile-message-number{
    width:24px;
    height: 19px;
    margin-left: 32px;
    background-position: -770px -370px;
    display: block;
    position: absolute;
    top: -8px;
    right: -12px;
}
.profile-note-important{
    width: 24px;
    height:  19px;
    margin-left: 32px;
    background-image: url("images/profile-note-important.png");
    display: block;
    position: absolute;
}
#profile-message-number span{
    font-size: 11px;
    color: #FF6;
    display: block;
    text-align: center;
}

/***************download-page********/

#download-main-page{
    border: 1px solid #3C180B;
    background-color: #130504;
    width: 960px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 0 30px 0;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.65),
        5px -5px 40px rgba(0,0,0,0.65),
        -5px 5px 40px rgba(0,0,0,0.65),
        -5px -5px 40px rgba(0,0,0,0.65);
    clear: both;
    margin-top: 50px;
}
.main-page{
    border: 1px solid #3C180B;
    background-color: #130504;
    width: 960px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 0 30px 0;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.65),
     5px -5px 40px rgba(0,0,0,0.65),
     -5px 5px 40px rgba(0,0,0,0.65),
     -5px -5px 40px rgba(0,0,0,0.65);
    clear: both;
    margin-top: 50px;
}
.page-in{
    width: 960px;
    margin: auto;
}
.tree-link{
    width: 900px;
    color:  #FF6;
    font-size: 12px;
    padding: 20px 0px 0 10px;
}
.tree-link a{
    color: #FF6;
    font-size: 12px;
    padding: 0 10px 0 10px;
}
.page-in-border-1{
    width: 920px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    background-image: -webkit-linear-gradient(top, black,#2D1209);
    background-image: -moz-linear-gradient(top, black,#2D1209); 
    background-image: -ms-linear-gradient(top, black,#2D1209);
    background-image: -o-linear-gradient(top, black,#2D1209); 
}

.page-in-border-2{    
    height: 5px;
    margin: auto;
    margin-top: 10px;
    background-color: #2D1209
}

.column-left{
    width: 225px;
    float:left;
    margin: 20px 15px 20px 20px;
    border-right: 1px #2D1209 solid;
}

.column-left .title{
    color: #FF9805;
    font-size: 18px;
    font-weight: bold;
}

.column-left li{        
    color: #F79748;
    padding: 10px 10px 10px 0px;  
    border-bottom: 1px #2D1209 solid;
}

.ul-style-dis li span{
    width: 6px;
    height: 6px;
    display: inline-block;
    background: url('images/homeimages.png') -116px -3px;
}

.column-left li a{    
    max-width: 190px;
    vertical-align: top;
    display: inline-block;
    color:#97663E;
    font-size: 12px;
    margin-left: 5px;
}

.column-right{
    margin-top: 20px;
    float:left;
}

.column-right .top-banner img{
    border: 5px #2D1209 solid;    
}

.column-right .content .post-item{
    margin: 20px 0px 0px 0px;
}

.column-right .content .post-item img{
    border: 5px #2D1209 solid;        
}

.column-right .post-main{
    display: inline-block;
    width:500px;
    vertical-align: top;
    margin: 5px 0px 0px 15px;
}

.column-right .content .post-item .title{       
    font-weight: bold;
    font-size: 14px;
    color: #FF9805;
}

.column-right .content .post-item .sapo{      
    color: #98613D;
    font-size: 12px;
    margin-top: 15px;
}

.column-right .info-news{
    display: inline-block;     
    width:680px;
    vertical-align: top;
}

.column-right .info-news .title-news{
    color: #FF9805;
    font-size: 20px;
    font-weight: bold;
}

.column-right .info-news .sapo-news{
    color: #FF9805;
    font-size: 12px;
    font-weight: bold;
}

.title-97663E{
    font-size: 14px;
    font-weight: bold;
    color: #97663E;
    margin: 10px 0px 10px 0px;
}

.other-news li{
    margin: 0px 0px 15px 0px;
    padding-left: 5px;
}
.comment-item-left{
    display:inline-block;
}

.comment-item-left img{
    border: 2px #FF9805 solid;
}

.comment-item-right{
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin: 0px 0px 0px 15px;
}

.comment-item-right .static-label{
    color:#97663E;    
}

#download-left-panel{
    width: 715px;
    display: inline-block;
    vertical-align: top;
}
#download-right-panel{
    width: 245px;
    display: inline-block;
    vertical-align: top;
}
#download-left-panel .game-name{
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    color: #FF9600;
    text-transform: uppercase;
    height: 20px;
    width: 600px;
    display: block;
    padding: 20px 0 10px 20px;
}
#card-game{
    width: 720px;
    height: 400px;
}
.card-game-border{
    height: 400px;
    width: 10px;
    display: inline-block;
}
.card-game-in{
    height: 400px;
    width: 234px;
    display: inline-block;  
    vertical-align: top;
}
.card-game-border-2{
    display: inline-block;
    width: 1px;
    height: 360px;
    background-image: -webkit-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));
    background-image: -moz-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));  
    background-image: -ms-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));
    background-image: -o-linear-gradient(top, rgba(19,5,4,0.2),rgba(151,102,62,0.2),rgba(19,5,4,0.2));  
}
.card-game-logo{
    width: 215px;
    height: 215px;
    margin:  auto;
    display: block;
/*    background-image: url("images/homeimages.png");
    background-position: -540px -400px;*/
}
.game-stars{
    width: 235px;
    height: 170px;
    display: inline-block;

}
.stars{
    width: 135px;
    height: 21px;
    margin: auto;
    margin-top: 10px;
}
.star{
    width: 23px;
    height: 21px;
    display: inline-block;
    margin: 0 2px 0 2px;
    float: left;
    background-image: url("images/homeimages.png");
    background-position: -210px -160px;
}
.half-star{
    width: 23px;
    height: 21px;
    display: inline-block;
    margin: 0 2px 0 2px;
    float: left;
    background-image: url("images/homeimages.png");
    background-position: -160px -160px;
}
.non-star{
    width: 23px;
    height: 21px;
    display: inline-block;
    margin: 0 2px 0 2px;
    float: left;
    background-image: url("images/homeimages.png");
    background-position: -185px -160px;
}
.game-details{
    width: 206px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.game-details-name{
    width: 100px;
    display: inline-block;
    height: 20px;
    color:#97663E;
    text-align: right;

}
.game-details-info{
    width: 80px;
    display: inline-block;
    height: 20px;
    color:#97663E;
    text-align: left;
    padding-left: 10px;
    vertical-align: top;
}
.like-game-form{
    width: 200px;
    height: 51px;
    margin: auto;
}

.like-game-form .like-item{
    width: 50px;    
    float: left;
}

.casino-game-item{
    height: 170px;
    width: 705px;
    padding-left: 10px;
    padding-top: 10px;

}

.casino-game-logo{
    width: 152px;
    height: 152px;
    display: inline-block;
    float: left;
    background-color: #2D1209;
    margin-left: 10px;
}
.casino-game-info{
    width: 280px;
    height: 170px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.casino-game-info h1{
    font-size: 18px;
    color: #EA6513;
    margin-left: 10px;
    margin-top: 10px;
}
.casino-game-info p{
    color: #97663E;
    text-align: left;
    margin-top: 15px;
}
.list-footer{
    height: 30px;
    min-width: 200px;
    margin: auto;
    max-width: 400px;
    margin-top: 30px;
}
.list-footer-item{
    width: 32px;
    height: 30px;
    background-image: url("images/homeimages.png");
    background-position: -560px -360px;
    display: inline-block;
    float: left;
    margin-left: 8px;
}
.list-footer-item-current{
    width: 32px;
    height: 30px;
    background-image: url("images/homeimages.png");
    background-position: -620px -360px;
    display: inline-block;
    float: left;
    margin-left: 8px;
}
.list-footer-item:hover{
    cursor: pointer;
}
.list-footer-item span,.list-footer-item-current span{
    color:  #F90;
    width: 12px;
    height: 12px;
    margin: auto;
    display: block;
    margin-top: 8px;
    text-align: center;
}
.list-footer-item a,.list-footer-item-current a{
    color:  #F90;
    width: 12px;
    height: 12px;
    margin: auto;
    display: block;
    margin-top: 8px;
    text-align: center;
}
.list-footer-item #first{
    background-image: url("images/homeimages.png");
    background-position: -600px -370px;
}
.list-footer-item #previous{
    background-image: url("images/homeimages.png");
    background-position: -680px -370px;
}
.list-footer-item #next{
    background-image: url("images/homeimages.png");
    background-position: -700px -370px;
}
.list-footer-item #last{
    background-image: url("images/homeimages.png");
    background-position: -660px -370px;
}
#download-right-panel-in{
    width: 210px;
    height: 420px;
    margin: auto;
    margin-top: 20px;
    background-color: #2D1209;
    display: block;
}
/***********download-pages-details********/
#download-page-details{
    height: 1700px;
    width: 1020px;
    margin: auto;
    background-image: url("images/homeimages.png");
    background-position: -660px -370px;
    margin-top: 20px;
    padding-top: 30px;
}
#page-in .title{
    font-size: 18px;
    font-family: tahoma;
    margin: auto;
    color: #FF9600;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 25px;
}
.phom-item{
    width: 308px;
    padding: 0 5px;
    height: 255px;
    display: inline-block;
    float: left;
    margin-top: 20px;
    border-right: 1px solid rgba(81,51,31,0.5);
}
.phom-item:nth-child(4){
    border-right: 0;
}
.phom-out>span{
    display: block;
    background: url("images/homeimages.png") 10px -780px;
    height: 23px;
}
.phom-out-ios>span{
    background: url("images/homeimages.png") -10px -810px;
    width: 640px;
    margin: 0 auto;
}
.phom-out-ios>.phom-item{
    border-right: 1px solid rgba(81,51,31,0.5);
    border-left: 1px solid rgba(81,51,31,0.5);
}
.phom-out-ios>.phom-item:nth-child(4){
    border-left:0;
}
.download-game-button{
    width: 280px;
    height: 34px;
    background-image: url("images/homeimages.png");
    background-position: -780px -0px;
    margin: auto;
    display: block;
    padding-top:16px;
}
.download-on-google-play{
    width: 174px;
    height: 48px;
    background-image: url("images/homeimages.png");
    background-position: -780px -120px;
    margin: auto;
    display: block;
    margin-top:20px;
}
.phom-out{
    text-align: center;
}
.phom-item h1,.phom-item h2{
    color: #97663E;
    display: inline-block;
}
.phom-out > .phom-item:last-of-type{
    border-right: 0;
}
.phom-item h2{
    font-weight: bold;
}
.phom-item h1{
    width: 100px;
    margin-left: 30px;
}
.download-game-button span{
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin: auto;
    display: block;
}
.border-phom-item{
    width: 160px;
    height: 265px;
    float:left;
}
.download-on-app-store{
    width: 173px;
    height: 48px;
    background-image: url("images/homeimages.png");
    background-position: -780px -60px;
    margin: auto;
    display: block;
    margin-top:20px;
}
.game-info-details{
    width: 940px;
    height: 1000px;
    margin: 10px auto 10px;
}

.game-info-details-in{
    width: 677px;
    height: 990px;
    float: right;
    padding: 10px 10px 0 15px;
    display: inline-block;
}
.tag-group{
    height: 40px;
    display: block;
}

.tag-border{
    padding: 0 1px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, #401A00 0%, #130504 50%,#130504 50%,#401A00 100%);
    background-image: -moz-linear-gradient(top, #401A00 0%, #130504 50%,#130504 50%,#401A00 100%);
    background-image: -ms-linear-gradient(top, #401A00 0%, #130504 50%,#130504 50%,#401A00 100%);
    background-image: -o-linear-gradient(top, #401A00 0%, #130504 50%,#130504 50%,#401A00 100%);
    display: inline-block;
    height: 28px;
    margin: 5px;
    border-radius: 3px;
}
.tag-border-current{
    padding: 0 1px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, #FF9600 0%, #130504 50%,#130504 50%,#FF9600 100%);
    background-image: -moz-linear-gradient(top, #FF9600 0%, #130504 50%,#130504 50%,#FF9600 100%);
    background-image: -ms-linear-gradient(top, #FF9600 0%, #130504 50%,#130504 50%,#FF9600 100%);
    background-image: -o-linear-gradient(top, #FF9600 0%, #130504 50%,#130504 50%,#FF9600 100%);
    display: inline-block;
    height: 28px;
    margin: 5px;
    border-radius: 3px;
}
.tag{
    display: inline-block;
    height: 18px;
    padding: 5px 13px;
    background-image: -webkit-linear-gradient(top, #401A00,#2F1308 100%);
    background-image: -moz-linear-gradient(top, #401A00,#2F1308 100%);
    background-image: -ms-linear-gradient(top, #401A00,#2F1308 100%);
    background-image: -o-linear-gradient(top, #401A00,#2F1308 100%);
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}
.tag-current{
    display: inline-block;
    height: 17px;
    background-image: -ms-linear-gradient(top, #FF9600,#F5D597 100%);
    background-image: -o-linear-gradient(top, #FF9600,#F5D597 100%);
    background-image: -webkit-linear-gradient(top, #FF9600,#F5D597 100%);
    background-image: -moz-linear-gradient(top, #FF9600,#F5D597 100%);
    padding: 5px 13px;
    cursor: pointer;
    border-radius: 3px;
    border-top:#F5D597 1px solid;
}
.tag-group h1{
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}
.tag-current h1{
    color: #471D0C;
}
.tag h1{
    color: #FF6900;
}
.connect-form{
    float: right;
    display: inline-block;
}
.facebook-connect{
    height: 30px;
    width: 32px;
    background-image: url("images/homeimages.png");
    background-position: -770px -410px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.twitter-connect{
    height: 30px;
    width: 32px;
    background-image: url("images/homeimages.png");
    background-position: -808px -410px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.google-connect{
    height: 30px;
    width: 30px;
    background-image: url("images/homeimages.png");
    background-position: -844px -410px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.yahoo-connect{
    height: 30px;
    width: 32px;
    background-image: url("images/homeimages.png");
    background-position: -881px -410px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.tree-link-border{
    height: 2px;
    background-image: -webkit-linear-gradient(top, #401A00,#2D1902 100%);
    background-image: -moz-linear-gradient(top, #401A00,#2D1902 100%);
    background-image: -ms-linear-gradient(top, #401A00,#2D1902 100%);
    background-image: -o-linear-gradient(top, #401A00,#2D1902 100%);

}
.info-details-bot{
    height: 950px;
    width: 680px;
    color: #97663E;
    display: none;
}
.info-details-bot-active{
    display: block;
}
.ul-bold{
    margin-left: 20px;
    margin-right: 20px;
    list-style:  disc;

}
.slide-gallery-left{
    display: inline-block;
    list-style:  disc;
    width: 260px;
    float: left;

}
.slide-gallery-in{
    width: 420px;
    height: 280px;
    background-color: #260F00;
    display: inline-block;
    float: left;
}
.info-details-bot li {
    color: #97663E;
}
.info-details-bot p{
    color: #97663E;
    text-indent: 10px;
}
.info-details-bot h1{
    color: #F99805;
    font-weight: bold;
}
.slide-gallery-in{
    width: 420px;
    height: 280px;
}
.message-panel-right-item{
    display: none;
}
.message-panel-right-item-active{
    display: block
}

/***********************************************/
#profile-page-in{
    height: 1710px;
    width: 1020px;
    margin: auto;
    background-image: url("images/profile-page-in.png");
    margin-top: 20px;
    padding-top: 30px;
}
.profile-border-top{
    width: 920px;
    height: 20px;
    margin: auto;
    background-image: url("images/profile-border-top.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tag-group-profile {
    display: block;
    height: 40px;
    margin: auto;
    width: 920px;
}
.tag-group-profile h1{
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}
.change-chips-button{
    float: right;
    width: 86px;
    height: 40px;
    background-image: url("images/homeimages.png");
    background-position: -200px -340px;
    display: inline-block;
    cursor: pointer;
}
.profile-info-panel{
    /*height: 280px;*/
    width: 920px;
    margin: auto;
}
.profile-panel-left{
    width: 215px;
    height: 280px;
    display: inline-block;
    float: left;
}
.avatar{
    width: 205px;
    height: 205px;
    border: 4px solid #DD8200;
    background-color: black;
    padding: 1px;
    /*border-image: -webkit-linear-gradient(top, #FF9600, #980000 100%) 1000 1000 repeat;*/
}
.exp-bar-border{
    width: 213px;
    height: 28px;
    border: 0 1px 1px 1px #980000;
    background-image: -moz-linear-gradient(top, #980000,#610404 100%);
    background-image: -webkit-linear-gradient(top,#980000,#610404 100%);
    background-image: -o-linear-gradient(top, #980000,#610404 100%);
    background-image: -ms-linear-gradient(top,#980000,#610404 100%);
    padding: 1px;
    border-radius: 3px;
    margin-top: 15px;
}
.exp-bar{

    height: 9px;
    width: 213px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top, #790000,#580303 100%);
    background-image: -webkit-linear-gradient(top,#790000,#280303 100%);
    background-image: -ms-linear-gradient(top, #790000,#580303 100%);
    background-image: -o-linear-gradient(top,#790000,#280303 100%);
    padding: 9px 0;
    border-top: 1px solid #BF0000;
}
.exp-bar .level{
    color: #F60;
    line-height: 10px;
    font-weight: bold;
    width: 20px;
    text-align: right;
    display: inline-block;
    float:left;
}
.exp-full-border{
    display: inline-block;
    float: left;
    border-radius: 4px;
    background-image: -moz-linear-gradient(top,#000000,#353535 100%);
    background-image: -webkit-linear-gradient(top,#000000,#353535 100%);
    background-image: -ms-linear-gradient(top,#000000,#353535 100%);
    background-image: -o-linear-gradient(top,#000000,#353535 100%);
    width: 168px;
    height: 8px;
    margin-left: 5px;
    padding: 1px;
    box-shadow: 0 0 2px 2px rgba(255,255,255,0.1);
}
.exp-full{
    display: inline-block;
    float: left;
    border-radius: 4px;
    background-image: -moz-linear-gradient(top,#0F0F0F,#232323 100%);
    background-image: -webkit-linear-gradient(top,#0F0F0F,#232323 100%);
    background-image: -ms-linear-gradient(top,#0F0F0F,#232323 100%);
    background-image: -o-linear-gradient(top,#0F0F0F,#232323 100%);
    width: 168px;
    height: 8px;
}
.exp-current{
    border-radius: 4px;
    background-image: -ms-linear-gradient(top,#FF9600,#FFF300 100%);
    background-image: -o-linear-gradient(top,#FF9600,#FFF300 100%);
    background-image: -webkit-linear-gradient(top,#FF9600,#FFF300 100%);
    background-image: -moz-linear-gradient(top,#FF9600,#FFF300 100%);
    width: 120px;
    height: 8px;
}

.profile-panel-right{
    width: 690px;
    height: 280px;
    display: inline-block;
    float: left;
    padding: 0 0 0 15px;
}
.profile-status{
    height: 30px;
    width: 650px;
    background-image: url("images/homeimages.png");
    background-position: -0px -730px;
    padding: 10px 10px 10px 25px;
}
.profile-status h3{
    font-family: Tahoma;
    font-size: 16px;
    color: black;
    display: inline-block;
    font-weight: normal;
}
.profile-info-details{
    height: 230px;
    width:  690px;
}
.profile-info-left{
    width: 325px;
    height: 230px;
    display: inline-block;
    float: left;
}
.nick-name{

    height: 30px;
    width: 300px;
    margin: 20px 0 0 10px;
}
.nick-name h2{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.edit-button{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    background-image: url("images/homeimages.png");
    background-position: -160px -190px;
    cursor: pointer;
}
.profile-info-details h1{
    width: 110px;
    height: 20px;
    display: inline-block;
    text-align: right;
    color: #99763E;
}
.profile-info-details span{
    width: 110px;
    height: 20px;
    display: inline-block;
    text-align: left;
    color: #FF9805;
    font-weight: bold;
    margin-left: 10px;
}

.profile-info-right{
    width: 365px;
    height: 230px;
    display: inline-block;
    float:left;
}
.profile-info-right p{
    color: #97663E;
    font-weight: bold;
}
.creat-group{
    width: 90px;
    height: 32px;
    background-image: url("images/homeimages.png");
    background-position: -290px -340px;
    display: inline-block;
    margin-left: 50px;
    cursor: pointer;
}
.search-group{
    width: 90px;
    height: 32px;
    background-image: url("images/homeimages.png");
    background-position: -385px -340px;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}
/*******************/
.bot-profile-page{
    width: 940px;
    margin: auto;
}
.ribbons{
    width: 700px;
    display: inline-block;
    float: left;
}
.ribbons-tittle{
    width: 410px;
    height: 36px;
    background-image: url("images/homeimages.png");
    background-position: -0px -520px;
    margin: auto;
}
.ribbon-group{
    width: 700px;
    margin: auto;
}
.ribbon{
    width: 140px;
    display: inline-block;
    float: left;
}
.ribbon-icon{
    width: 116px;
    height: 116px;
    background-image: url("images/homeimages.png");
    background-position: -0px -600px;
    margin: auto;
    margin-top: 10px;
}
.ribbon h1{
    color: #FF9600;
    font-weight: bold;
    text-align: center;
}
.profile-border-bot{
    height: 230px;
    width: 1px;
    display: inline-block;
    float:left;
    background-image: url("images/profile-border-bot.png");
}
.profile-bot-right{
    display: inline-block;
    float: left;
    padding: 0 10px 0 14px;
    width: 210px;
}
.profile-bot-right div{
    height: 420px;
    width: 210px;
    background-color: #2D1209;
}

/*************************************/






.message-panel-top{
    width:  920px;
    margin: auto;
    margin-top: 15px;
}
.message-panel-tittle{ 
    float: left;
    display: inline-block;
}
.message-panel-catogery{
    float: right;
    display: inline-block;
}
.message-tittle-selected{
    height: 18px;
    padding:6px 4px;
    background-color: #42200C;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
}
.message-tittle-unselected{
    height: 18px;
    padding:6px 4px;
    background-color: #1E0B06;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
    text-align: left;
}
.message-catogery-item{
    display: inline-block;
    float:left;
}
.radio-selected{
    width: 20px;
    height: 21px;
    background-image: url("images/homeimages.png");
    background-position: -500px -360px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.radio-unselected{
    width: 20px;
    height: 21px;
    background-image: url("images/homeimages.png");
    background-position: -530px -360px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.message-panel-top h1{
    color: #FF9600;
    display: inline-block;
    padding: 4px;
    float: left;
}
.message-panel{
    margin-top: 10px;
    display: none;
}
.message-panel-active{
    display: block;
}
.message-panel-left{
    width: 225px;
    display: inline-block;
    color: #FF9600;
    margin-left: 20px;
    float: left;
}
.message-item-border{
    width: 225px;
    height: 1px;
    background-color: #2D1209;
    margin-top: 1px;
}
.message-item{
    width: 220px;
    height: 67px;
    margin: 1px 0;
    padding-right   :    5px;
}
.message-item-mark{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("images/homeimages.png");
    background-position: -730px -360px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.message-item-tittle{
    height: 34px;
    width: 190px;
    display: inline-block;
    font-weight: bold;
    color: #FF9600;
    margin-left: 9px;
    margin-top: 5px;
    cursor: pointer;
}
.message-item-author{
    display: inline-block;
    color: #FF9600;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.message-item-time{
    color: #97663E;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.message-item-selected{
    background-color: #2D1209;
}
.message-item-marked{
    background-image: url("images/homeimages.png");
    background-position: -750px -360px;
}
.message-item-tittle-readed{
    font-weight: normal;
    color: #97663E;
}
.message-panel-border{
    background-image: -webkit-linear-gradient(left, #2D1209,black );
    background-image: -moz-linear-gradient(left, #2D1209,black );
    background-image: -ms-linear-gradient(left, #2D1209,black );
    background-image: -o-linear-gradient(left, #2D1209,black    );
    width: 2px;
    height: 80%;
    display: inline-block;
    float: left;
}
.delete-button{
    width: 30px;
    height: 30px;
    background-image: url("images/delete-button.png");
    display: inline-block;
    cursor: pointer;
}
.button-form{
    height: 18px;
    padding:6px;
    background-color: #42200C;
    display: inline-block;
    border-radius: 3px;
    color: #FF9600;
    margin-left: 5px;
    cursor: pointer;
}
.un-click{
    cursor: default;
    background-color: #1E0B06;
}
.message-panel-right{
    width: 678px;
    min-height: 200px;
    display: inline-block;
    color: #FF9600;
    float: left;
    padding-left: 15px;
}
.message-tittle-bar{
    width: 638px;
    height: 25px;
    background-color: #2D1209;
    font-size: 18px;
    font-weight: bold;
    color: #F4D497;
    padding: 8px 20px;
}
.message-panel-right h1{
    display: inline-block;
    color: #FF9600;
    margin-top: 10px;
    /*margin-left: 5px;*/
    cursor: pointer;
}
.message-panel-right h2{
    font-size: 16px;
    color: #D6B780;
    margin-left: 15px;
}
.button-reply-form{
    height: 18px;
    padding:6px 15px;
    background-color: #F90;
    display: inline-block;
    border-radius: 3px;
    color: black;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}
/*****************************ENd page 5**********************************/





#download-left-panel h1{
    font-size: 14px;
    font-weight: bold;
    color: #F90;
    font-family: Tahoma;
    text-indent: 10px;
    margin: 20px 0 0 20px;

}
#download-left-panel h2{
    color: #97663E;
}
#download-left-panel form{
    width: 490px;
    height: 70px;
    display: inline-block;
    float: left;
}
#download-left-panel form h1{
    color: #97663E;
    font-weight: bold;
    margin:0 0 0  10px;
}
#download-left-panel form input{
    width: 388px;
    height: 28px;
    border: 1px solid #762F14;
    background-color: #3C180C;
    color: #FF9805;
    font-weight: bold;
    padding: 0 5px;
    margin: auto;
    display: block;
}
.friends-page-connect{
    width: 200px;
    height: 70px;
    display: inline-block;
    float: left;
}
.friends-page-connect h1{
    color: #97663E !important;
    font-size: 12px !important;
    margin:0 0 0 10px !important;
}


.friends-details-panel{
    width: 695px;
    float: right;
    min-height: 100px;
}
.friends-details-title{
    width: 695px;
    max-width: 30px;
}
.friends-details-name{
    width: 120px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.friends-details-chips{
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.friends-details-lever{
    width: 90px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.friends-details-group{
    width: 120px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.friends-details-panel h1{
    color: #97663E !important;
    font-size: 11px !important;
    display: inline-block;
    margin: 10px 5px 3px 0px;
    font-weight: normal !important;
    float: left;
}
.up-button{
    width: 8px;
    height: 6px;
    background: url("images/homeimages.png") -510px -640px;
    display:  block;
}
.up-deactive-button{
    width: 8px;
    height: 6px;
    background: url("images/homeimages.png") -500px -640px;
    display:  block;
}
.down-button{
    width: 8px;
    height: 6px;
    background: url("images/homeimages.png") -510px -650px;
    display:  block;
    margin-top: 3px;
}
.down-deactive-button{
    width: 8px;
    height: 6px;
    background: url("images/homeimages.png") -500px -650px;
    display:  block;
    margin-top: 3px;
}
.up-down-button{
    width: 8px;
    height: 15px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
}
.friends-details-border{
    width: 100%;
    height: 1px;
    background-color: #3C180B;
}
.friend-name{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 120px;
    color: #FF9600;
    font-weight: bold;
    float: left;
}
.friend-chips{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100px;
    color: #FF9600;
    float: left;
}
.friend-lever{
    display: inline-block;
    text-align: center;
    height: 50px;
    width:90px;
    color: #FF9600;
    float: left;
}
.friend-group{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 120px;
    color: #FF9600;
    float: left;
}
.friends-details-row span{
    color: #FF9600;
    height: 20px;
    margin: 15px 0;
    display: block;
}
.friend-change-chips{
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 90px;
    background-image: url("images/friend-change-chips.png");
    float: left;
    margin: 10px 0 0 5px;
    cursor: pointer;
}
.friend-send-girf{
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 70px;
    background-image: url("images/friend-send-girf.png");
    float: left;
    margin: 10px 0 0 5px;
    cursor: pointer;
}
.friend-send-message{
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 70px;
    background-image: url("images/friend-send-message.png");
    float: left;
    margin: 10px 0 0 5px;
    cursor: pointer;
}


/********************Page 07************************/
.message-panel-left > #download-right-panel-in{
    margin-left: 0;
}

.property-item-panel{
    padding-top:10px;
}

.property-game-tag{
    height: 20px;
    width: 225px;
    padding: 10px 0px;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: -moz-linear-gradient(top, #270E07,#1E0B06 100%);
    background-image: -webkit-linear-gradient(top,#270E07,#1E0B06 100%);
    text-align: center;
    font-weight: bold;
    color: #FF9600;
    cursor: pointer;
    line-height: 20px;
}
.property-game-tag-current{
    height: 20px;
    width: 225px;
    padding: 10px 0px;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: -moz-linear-gradient(top, #5A2C10,#2F1308 100%);
    background-image: -webkit-linear-gradient(top,#5A2C10,#2F1308 100%);
    text-align: center;
    font-weight: bold;
    color: #FF9600;
    cursor: pointer;
    line-height: 20px;
}
.property-game-item{
    width: 110px;
    height: 160px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.property-item-logo-star{
    background-position: -0px -4px;
    width: 73px;
    height: 87px;
    margin: auto;
}
.property-item-name{
    margin-top: 15px;
    color: #FF9600;
    font-weight: bold;
    text-align: center;
    width: 111px;
    height: 40px;

}
.property-item-logo-logo{
    background-position: -109px -0px;
    width: 85px;
    height: 87px;
    margin: auto;
}
.property-item-logo-emotion{
    background-position: -226px -0px;
    width: 80px;
    height: 87px;
    margin: auto;
}
.trangcanhan-banbe{
    background-image: url("images/trangcanhan-banbe.png");
    background-repeat: no-repeat;
}
/***********************************************/
/*******************page08**************************/





.group-info{
    width: 215px;
    margin-top: 20px;
}
.group-name{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.group-info h1{
    color: #99763E;
    display: inline-block;
    height: 20px;
    text-align: left;
    width: 90px;
}
.group-info span{
    color: #FF9805;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    text-align: left;
    width: 120px;
}
.brown-tag-current{
    height: 14px;
    display: inline-block;
    text-align: center;
    padding:8px;
    line-height: 12px;
    color: #FF9600;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#5A2C10,#2F1F0C 100%);
    background-image: -webkit-linear-gradient(top,#5A2C10,#2F1F0C 100%);
}
.brown-tag{
    height: 14px;
    display: inline-block;
    text-align: center;
    padding:8px;
    line-height: 12px;
    color: #FF9600;
    background-image: -moz-linear-gradient(top,#270E07,#1E0B06 100%);
    background-image: -webkit-linear-gradient(top,#270E07,#1E0B06 100%);
    border-radius: 3px;
}
#group-list-member{
    margin-left: 10px;
}
#exit-group{
    margin-left: 347px;
}
#group-details-left{
    padding-top: 15px !important;
}
.group-status{
    position: relative;
    margin-top: 20px;
}
.status-left-arow{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #D99959;
    left: 1px;
    position: absolute;
    top: 10px;
}
.group-status-main{
    width: 658px;
    height: 90px;
    display: inline-block;
    border:  1px solid #FC6;
    text-align: center;
    background-color: #D99959;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 3px;

}
.group-status-main h1{
    display: inline-block;
    font-family: Tahoma;
    font-size: 16px;
    color: #000;
    width:  615px;
    margin-left: 10px;
    text-align: left;
}
#group-status-edit{
    margin-top: 60px;
}
.images-08{
    background-image: url("images/08.png");
    width: 410px;
    height:36PX;
}
.clan-introduction-logo{
    margin: auto;
    margin-top: 30px;
}
.clan-introduction h1{
    width: 640px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
}
.clan-achievement-logo{
    margin: auto;
    margin-top: 30px;
    background-position: 0 -40px;
}
.clan-achievement-ribbons{
    width: 660px;
    margin-left: 10px;
    margin-top: 30px;
}
.pre-ribbons{
    width: 18PX;
    height: 20px;
    background-position: -420px 0;
    display: inline-block;
    margin-top: -104px;
    vertical-align: middle;
    cursor: pointer;
}
.group-ribbon{
    width: 150px;
    display: inline-block;
    text-align: center;
}
.group-ribbon-logo{
    width: 117px;
    height: 106px;
    margin: auto;
    display: inline-block;
    background-position: 0 -80px;
}
.group-ribbon h1{
    color: #FF9600;
    font-weight: bold;
    text-align: center;
}
.next-ribbons{
    width: 18PX;
    height: 20px;
    background-position: -440px 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: -104px;
    cursor: pointer;
}
.clan-chat-panel{
    width: 685px;
    height: 380px;
    margin-top: 30px;
}
.clan-chat-in{
    width: 320px;
    height: 380px;
    display: inline-block;
    vertical-align: text-top;
}
.brown-panel-tittle{
    width: 300px;
    height: 14px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: -moz-linear-gradient(top,#2D1209,#3B130C 100%);
    background-image: -webkit-linear-gradient(top,#2D1209,#3B130C 100%);
    border-top: 1px solid #381E16;
    padding: 13px 10px;
    color: #FF9600;
}

#clan-chat-right{
    margin-left: 25px;
}
.chat-panel-in{
    width: 298px;
    padding: 10px;
    text-align: left;
    height: 279px;
    border: 1px solid #381E16;
    border-top-width: 0px;
}
.group-history{
    width: 298px;
    padding: 10px;
    text-align: left;
    height: 319px;
    border: 1px solid #381E16;
    border-top-width: 0px;
}
.chat-panel-in span{
    color: #FF9805;
    font-weight: bold;
    display: inline-block;
    line-height: 14px;
    margin-right:  3px;
}
.group-history span{
    color: #FF9805;
    font-weight: bold;
    display: inline-block;
    line-height: 14px;
    margin: 0 3px;
}
.group-history,.chat-panel-in{
    color: #97663E;
    line-height: 14px;
}
.clan-chat-in form{
    margin-top: 15px;
}
.clan-chat-in input{
    width: 276px;
    height: 28px;
    border: solid 1px #B04200;
    background-image: -moz-linear-gradient(top,#3F2413,#2D301C 100%);
    background-image: -webkit-linear-gradient(top,#3F2413,#2D301C 100%);
    display: inline-block;
}
.enter-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    background-position:-480px 0 ;
    display: inline-block;
    vertical-align: top;
}
.yellow-button{
    line-height: 14px;
    padding:  7px 15px;
    border-bottom: 2px solid #4E2B07;
    border-radius: 5px;
    display: inline-block;
    background-image: -moz-linear-gradient(top,#FFCB00,#FF9600 100%);
    background-image: -webkit-linear-gradient(top,#FFCB00,#FF9600 100%);
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.group-buttons-bar{
    margin-top: 25px;
}
.group-buttons-bar-button{
    margin-left: 20px;
}


.group-panel-border{
    height: 845px;
    margin-top: 65px;
}
/*********************************/


.brown-button{
    line-height: 14px;
    padding:  7px 15px;
    border-bottom: 2px solid #2D1209;
    border-radius: 5px;
    display: inline-block;
    background-image: -moz-linear-gradient(top,#903A1A,#632812 100%);
    background-image: -webkit-linear-gradient(top,#903A1A,#632812 100%);
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.kick-group{
    margin: 10px 0 0 27px;

}
.kick-group-unable{
    background-image: none;
    cursor: auto;
    margin: 10px 0 0 27px;
    width: 85px;
    border: none;
}
.send-a-message{
    margin: 10px 0 0 5px;
}
.clan-king{
    width: 24px;
    height: 24px;
    background-position: -410px -30px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.clan-queen{
    width: 24px;
    height: 24px;
    background-position: -440px -30px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.clan-member-details{
    width: 680px;
    margin-top: 20px;
}
.clan-member{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.clan-member-name{
    margin-left: 51px !important;
}
.clan-member-chips{
    margin-left: 44px !important;
}
.clan-member-exp{
    margin-left: 32px !important;
}
.clan-member-date{
    margin-left: 21px !important;
}
.group-panel-members-border{
    height: 600px;
    margin-top: 65px;
}
/***********************************/


/*************10*****************/
.tabble-text{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 132px;
    vertical-align: middle;
}
.tabble-text:nth-child(2){
    width: 155px;
}
.tabble-text:nth-child(3){
    width: 110px;
}
.tabble-text:nth-child(4){
    width: 140px;
}
.tabble-text:nth-child(5){
    width: 128px;
}
.tabble-text span{
    color: #FF9600;
    height: 20px;
    margin: 15px 0;
    display: block;
}
.log-time{
    vertical-align: 5px;
    /*margin-left: 38px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.log-game{
    vertical-align: 5px;
    /*margin-left: 78px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.log-chanel{
    vertical-align: 5px;
    /*margin-left: 84px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.log-room{
    vertical-align: 5px;
    /*margin-left: 80px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.log-chips{
    vertical-align: 5px;
    /*margin-left: 57px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.in-chips{
    font-size: 11px;
    color: #00CC00 !important;
}
.out-chips{
    font-size: 11px;
    color: #990000 !important;
}
.log-add-cash{
    vertical-align: 5px;
    /*margin-left: 65px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.log-add-cash-value{
    vertical-align: 5px;
    /*margin-left: 65px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.friends-details-tittle .log-add-chip-value{
    vertical-align: 5px;
    /*margin-left: 70px ;*/
    font-size: 11px;
    color: #97663E !important;
}
.friends-details-tittle .log-vip-point{
    vertical-align: 5px;
    /*margin-left: 70px ;*/
    font-size: 11px;
    color: #97663E ;
}
.tabble-text-4{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 166px;
    vertical-align: middle;
}
.tabble-text span{
    color: #FF9600;
    height: 20px;
    margin: 15px 0;
    display: block;
}
.log-time-4{
    vertical-align: 5px;
    /*margin-left: 53px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.message-panel-right .log-trade-type{
    vertical-align: 5px;
    font-size: 11px;
    color: #97663E ;
}
.log-trade-object{
    vertical-align: 5px;
    /*margin-left: 70px !important;*/
    font-size: 11px;
    color: #97663E !important;
}
.message-panel-right .log-chips-4{
    vertical-align: 5px;
    /*margin-left: 75px ;*/
    font-size: 11px;
    color: #97663E ;
}
.user-name{
    font-weight: bold;
}
input::-webkit-input-placeholder{
    color:#333333;
}





/*******************page-12*******************/
.setting-page{
    width: 920px;
    margin: auto;
}
.setting-page h4{
    margin-top: 40px;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
    color: #FF9600;
}
.change-avatar h1{
    display: inline-block;
    text-align: center;
    color: #97663E;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
    width: 170px;
    margin-left: 40px;
    margin-top: 30px;
    vertical-align: -8px;
}

.change-profile-info h1,.change-security-info h1{
    display: inline-block;
    text-align: right;
    color: #97663E;
    width: 85px;
    margin-top: 15px;
}
.change-profile-info h3{
    display: inline-block;
    color: #97663E;
    margin: 0 3px;
}
.change-profile-info h2,.change-security-info h2{
    display: inline-block;
    text-align: left;
    color: #FF9805;
    margin-left: 3px;
    width: 240px;
}
.brown-small-button{
    height: 30px;
    color: #FF9600;
    padding: 7px 15px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    background-image: -webkit-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    cursor: pointer;
    display: inline-block;
}
.setting-page ::-webkit-input-placeholder{
    color:#97663E;
    font-style: italic;
}
.input-form{
    border: 1px solid #B04200;
    padding: 5px;
    height: 30px;
    background-image: -moz-linear-gradient(top,#3F2513,#4D311D 100%);
    background-image: -webkit-linear-gradient(top,#3F2513,#4D311D  100%);
    color:black;
    color:#97663E;
    font-style: italic;
}
.change-profile-panel,.change-security-panel{
    width: 375px;
    display: inline-block;
}
.change-profile-info,.change-security-info{
    margin: 25px 0px;
    line-height: 40px;
}
.change-security-panel{
    margin-left: 80px;
}
.edit-button-setting{
    float: none;
}
.change-avatar-input{
    width: 290px;
    margin: 0 10px;
}
.change-password-input{
    width: 200px;
    margin-top: 10px;
}
.change-password{
    margin-top: 20px;
    margin-left: 20px;
}
.change-profile-input{
    width: 60px;
}
.change-avatar-update{
    margin-left: 10px;

}
.update-end-button{
    margin-left: 15px;
}
.input-small-button{
    height: 30px;
    color: #FF9600;
    padding: 7px 15px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    background-image: -webkit-linear-gradient(top,#5A2C10,#3F1F0C 100%);
    cursor: pointer;
    display: inline-block;
}
.history-tabble{
    border-collapse: collapse;
    /*    border-right: 1px solid red;
        border-left: 1px solid red;*/
}
.history-tabble tr{
    border-bottom: 1px solid rgb(60, 24, 11);
}
.history-tabble tr{
    text-align: center;
}

/*************************************************Style for dialog*********************************************/
.diaglog-wraper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('images/bg-dialog.png');
    color: background;
    font-size: 12px;
    font-family: Arial;


}
.diaglog {
    top: 20%;
    border: 8px solid #945E27;
    background-color: white;
    width: 316px;
    /*height: 100px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
}
.diaglog .title {
    color: black;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 26px;
    font-weight: bold;
    background-image: url('images/diaglog-title-bg.png');
    padding-top: 14px;

}
.diaglog .ok {
    width: 65px;
    height: 38px;
    background-image: url('images/css_images.fw.png');
    background-position: -370px -320px;
    /*position: absolute;*/
    float: right;
    cursor: pointer;
    margin-right: 11px;
    border: none;
}
.diaglog .ok:hover {
    background-position: -450px -320px;
}
.diaglog .ok-wrapper {
    bottom: 0px;
    width: 100%;
    position: absolute;
}
.diaglog .dialog-content {
    margin-top: 20px;
    margin-left: 16px;
    width: 284px;
    height: 100%;
}
/*************************************************End style for dialog*****************************************/

/**style customize by Thanhnd*/
.history-table thead th{
    width: 132px;
}
.history-table thead th a{
    color: #97663E !important;
    font-size: 11px;
    vertical-align: 5px;
}
.history-table thead th a.asc {
    background: url('images/up.png') right center no-repeat;
    padding-right: 10px;
}
.history-table thead th a.desc {
    background: url('images/down.png') right center no-repeat;
    padding-right: 10px;
}
.history-table .empty{
    height: 50px;
    color: #FF9600;
}
.wrapper-table .pagination{
    height: 30px;
    margin: 30px auto auto;
    max-width: 400px;
    min-width: 200px;
}
.wrapper-table .pagination li:not(.selected){
    background-image: url("images/homeimages.png");
    background-position: -560px -360px;
    display: inline-block;
    float: left;
    height: 30px;
    margin-left: 8px;
    width: 32px;
}
.wrapper-table .pagination .selected{
    width: 32px;
    height: 30px;
    background-image: url("images/homeimages.png");
    background-position: -620px -360px;
    display: inline-block;
    float: left;
    margin-left: 8px;
}
.wrapper-table .pagination li a:hover{
    width: 32px;
    height: 30px;
    background-image: url("images/homeimages.png");
    background-position: -620px -360px;
    display: inline-block;
    float: left;
    margin-top: 0px;
    padding-top: 8px;
}
.wrapper-table .pagination li a{
    color: #FF9900;
    display: block;
    height: 12px;
    margin: 8px auto auto;
    text-align: center;
    width: 12px;
}
.form-register-in>h2{
    font-size: 18px;
    font-weight: bold;
    color: #FF9600;
    margin-bottom: 10px;
    margin-left: 0;
}
.form-register-in{
    color: #97663E;
    line-height: 30px;
}
.form-register-in li{
    margin: 5px 0;
}
.register-field{
    width: 134px;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}
.register-input{
    border: 1px solid #B04200;
    padding: 0 5px;
    height: 30px;
    background-image: -moz-linear-gradient(top,#3F2513,#4D311D 100%);
    background-image: -webkit-linear-gradient(top,#3F2513,#4D311D 100%);
    color: #97663E;
    font-style: italic;
    width: 200px;
    vertical-align: middle;
    margin-left: 5px;
}
.register-input::-webkit-input-placehoder{
    font-style: italic;
    color: #97663E;
    vertical-align: middle;
}
.form-register-in .error{
    display: inline-block;
    vertical-align: middle;
    color: red;
    margin-left: 5px;
}
span.required{
    color: red;
}
#casino-game{
    color: white;
}
.register-tournament{
    width:100px;height:25px;text-alight:center;margin:5px auto;border-radius: 4px; background-color: #eee;display: block;font-weight: bold;
/*        animation: xoanquay 2s infinite;
        -webkit-animation: xoanquay 2s infinite;*/
}
@keyframes xoanquay {
    0%   {background: red; margin-left:0px; margin-top:0px;}
25%  {background: yellow; margin-left:845px; margin-top:0px;}
50%  {background: blue; margin-left:845px; margin-top:200px;}
75%  {background: green; margin-left:0px; margin-top:200px;}
100% {background: red; margin-left:0px; margin-top:0px;}
}
@-webkit-keyframes xoanquay {
    0%   {background: red; margin-left:0px; margin-top:0px;}
25%  {background: yellow; margin-left:845px; margin-top:0px;}
50%  {background: blue; margin-left:845px; margin-top:200px;}
75%  {background: green; margin-left:0px; margin-top:200px;}
100% {background: red; margin-left:0px; margin-top:0px;}
}
#download-panel .download-item .download-link{
    width: 90px;
    height: 28px;
    background-position: -640px -670px;
    display: inline-block;
    margin-top: 15px;
}
#download-panel .download-item .play-now {
    background-position: -640px -630px;
    display: inline-block;
    height: 28px;
    margin-top: 15px;
    width: 90px;
}
#download-panel .download-item .download-link:hover {
    background-position: -540px -670px;
}
#download-panel .download-item .play-now:hover {
    background-position: -540px -630px;
}
.coming-soon{
    font-weight: bold;
    color: #FF9600;
    line-height: 28px;
    text-align: center;
    background-color: #401A00;
    border-radius: 3px;
    margin-top: 15px;
}
.coming-soon-out{
    padding: 0 1px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#401A00,transparent 50%,#401A00 100%);
    background-image: -webkit-linear-gradient(top,#401A00,transparent 50%,#401A00 100%);
    background-image: -ms-linear-gradient(top,#401A00,transparent 50%,#401A00 100%);
    background-image: -o-linear-gradient(top,#401A00,transparent 50%,#401A00 100%);
}

.group-like{
    position: fixed;
    width: 58px;
    /*height: 63px;*/
    top: 155px;
    right: 50px;
    background: #E5E5E5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.home-gop-y{
    position: fixed;
    width: 61px;
    height: 50px;
    right: 50px;
    top: 405px;
    background: url('images/homeimages.png') -762px -445px no-repeat;
    cursor: pointer;
    display: block;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #E5E5E5;
}